<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
    close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Delete Reimbursement
        <a class="pull-right" ng-click="vm.close()">
            <span class="fa fa-times delete-bill-icon" aria-hidden="true"></span>
        </a>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="text-center">
        <h4>Are you sure, do you want to delete the receipt?</h3>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success btn-rounded" type="button" ng-click="vm.confirmOk()">Yes</button>
        <button class="btn btn-warning btn-rounded" type="button" ng-click="vm.close()">No</button>
    </div>
</div>