<div class="page-title">
    <h2><span class="fa fa-congs"></span> Reimbursements </h2>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6">
            <a ui-sref="myReceipts" class="tile tile-info" ng-class-even="tile-valign" ng-class-odd="tile-primary"
                style="font-size: 16px;">
                My Expenses
                <div class="informer informer-default"></div>
                <div class="informer informer-default dir-br"><span class="fa fa-users"></span></div>
            </a>
        </div>
        <div class="col-md-6">
            <a ui-sref="myReimbursements" class="tile tile-info" ng-class-even="tile-valign" ng-class-odd="tile-primary"
                style="font-size: 16px;">
                My Reimbursements
                <div class="informer informer-default"></div>
                <div class="informer informer-default dir-br"><span class="fa fa-users"></span></div>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <a ui-sref="teamReimbursements" ng-if="vm.user.userRole=='lead' || vm.user.userRole=='manager'"
                class="tile tile-info" ng-class-even="tile-valign" style="font-size: 16px;">
                Team Reimbursements
                <div class="informer informer-default"></div>
                <div class="informer informer-default dir-br"><span class="fa fa-users"></span></div>
            </a>
        </div>
        <div class="col-md-6">
            <a ui-sref="accountReimbursements" ng-if="vm.user.userRole=='account'" class="tile tile-info"
                ng-class-even="tile-valign" style="font-size: 16px;">
                Approved Reimbursements
                <div class="informer informer-default"></div>
                <div class="informer informer-default dir-br"><span class="fa fa-users"></span></div>
            </a>
        </div>
    </div>
</div>