<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
    close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Reimbursements</h3>
                <a class="btn btn-primary btn-rounded pull-right" ui-sref="reimbursementForm">Add Reimbursement</a>
            </div>
            <div class="panel-body tab-content">
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <thead>
                        <tr>
                            <th>Manager</th>
                            <th>Department</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Purpose</th>
                            <th>Total Amount</th>
                            <th>Status
                                <select class="form-control" style="margin-top: 4px; width: 100px;"
                                    ng-model="vm.reimbursementObj.status"
                                    ng-options="option as option for option in ['Pending', 'Completed']"></select>
                            </th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reimbursement in vm.reimbursements | orderBy:'name'">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{reimbursement.totalCost}}</td>
                            <td>{{reimbursement.status}}</td>
                            <td>{{reimbursement.createdOn}}</td>
                            <td>
                                <a class="btn btn-primary btn-icon btn-rounded"
                                    ng-click="vm.openMyReimbursementStatus()">
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a class="btn btn-primary btn-icon btn-rounded" ng-click="vm.editMyReimbursement">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>