<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
    close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Reimbursements</h3>
                <a class="btn btn-primary btn-rounded pull-right" ui-sref="reimbursementForm">Add Reimbursement</a>
            </div>
            <div class="panel-body tab-content">
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <thead>
                        <tr>
                            <th class="table-heading">#</th>
                            <th class="table-heading">Manager</th>
                            <th class="table-heading">Department</th>
                            <th class="table-heading">From Date</th>
                            <th class="table-heading">To Date</th>
                            <th class="table-heading">Purpose</th>
                            <th class="table-heading">Total Amount</th>
                            <th class="table-heading">Status
                                <!-- <select class="form-control" style="margin-top: 4px; width: 100px;"
                                    ng-model="vm.reimbursementObj.status"
                                    ng-options="option as option for option in ['Pending', 'Completed']"></select> -->
                            </th>
                            <th class="table-heading">Created On</th>
                            <th class="table-heading">Actions</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="table-heading">
                                <select class="form-control" ng-model="vm.reimbursementObj.status"
                                    ng-options="option as option for option in ['Pending', 'Completed']"></select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reimbursement in vm.reimbursements | orderBy:'name'">
                            <td class="table-heading">{{$index + 1}}</td>
                            <td class="table-heading"></td>
                            <td class="table-heading"></td>
                            <td class="table-heading"></td>
                            <td class="table-heading"></td>
                            <td class="table-heading"></td>
                            <td class="table-heading">{{reimbursement.totalCost}}</td>
                            <td class="table-heading">{{reimbursement.status}}</td>
                            <td class="table-heading">{{reimbursement.createdOn}}</td>
                            <td class="table-heading">
                                <a class="btn btn-primary btn-icon btn-rounded"
                                    ng-click="vm.openMyReimbursementStatus()">
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a class="btn btn-primary btn-icon btn-rounded" ng-click="vm.editMyReimbursement">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>