<div class="content-wrapper">
    <ul class="breadcrumb">
        <li><a ui-sref="myReimbursements"><i class="fa fa-dashboard"></i>My Reimbursement</a></li>
        <li class="active">
            <span ng-if="vm.reimbursementObj._id">Add Reimbursement</span>
            <span ng-if="vm.reimbursementObj._id">Edit Reimbursement</span>
        </li>
    </ul>
    <br />
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
        close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <form class="form-horizontal" id="reimburseForm" name="vm.assignForm">
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">Employee</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" required="true" ng-disabled="true" ng-model="vm.reimbursementObj.name"
                            class="form-control" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">Approval</label>
                    <div class="col-md-3 col-xs-12">
                        <select class="form-control" ng-model="vm.reimbursementObj.projectId"
                            ng-options="user._id as user.name for user in vm.approveActiveUsers">
                        </select>
                    </div>
                    <label class="col-md-1 col-xs-12 control-label">Department</label>
                    <div class="col-md-2 col-xs-12">
                        <input type="text" ng-model="vm.reimbursementObj.department" class="form-control" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">From</label>
                    <div class="col-md-2 col-xs-12">
                        <p class="input-group">
                            <input type="text" id="fromDate" class="form-control" uib-datepicker-popup
                                ng-model="vm.reimbursementObj.reimbursementFrom" is-open="vm.fromDateOpened"
                                datepicker-options="vm.dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="vm.fromDateOpened=!vm.fromDateOpened"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <label class="col-md-2 col-xs-12 control-label">To</label>
                    <div class="col-md-2 col-xs-12">
                        <p class="input-group">
                            <input type="text" id="toDate" class="form-control" uib-datepicker-popup
                                ng-model="vm.reimbursementObj.reimbursementTo" is-open="vm.toDateOpened"
                                datepicker-options="vm.dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="vm.toDateOpened=!vm.toDateOpened"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">Business Purpose</label>
                    <div class="col-md-6 col-xs-12">
                        <td><textarea class="form-control" ng-model="vm.reimbursementObj.purpose"
                                placeholder="Enter your purpose" rows="2"></textarea></td>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Reimbursement Receipts:</label>
                    <div class="col-md-9 col-xs-12">
                        <button type="button" style="margin-right: 5px;" class="btn btn-success btn-rounded pull-right"
                            ng-click="vm.addBill($index,vm.user)">Add Receipt</button>
                    </div>
                </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
    </div><br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="" class="table table-condensed table-bordered table-striped">
                    <tr ng-if="vm.reimbursementObj.items.length > 0">
                        <th class="table-heading">Date</th>
                        <th class="table-heading">Category</th>
                        <th class="table-heading">Amount</th>
                        <th class="table-heading">Description</th>
                        <th class="table-heading">Receipt</th>
                        <th class="table-heading">Actions</th>
                    </tr>
                    <tr ng-repeat="bill in vm.reimbursementObj.items" class="">
                        <td class="table-heading" style="width: 150px;padding-top: 15px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="bill.billDate"
                                    is-open="bill.startOpened" datepicker-options="vm.dateOptions" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="bill.startOpened=true;"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                        <td class="table-heading" style="width: 140px;padding-top: 15px;">
                            <select class="form-control" ng-model="bill.billCategory"
                                ng-options="categoryType.categoryTypeId as categoryType.categoryTypeVal for categoryType in vm.categories">
                            </select>
                        </td>
                        <td class="table-heading" style="width: 120px;padding-top: 15px;"><input type="number"
                                class="form-control" ng-model="bill.billAmount" />
                        </td>
                        <td class="table-heading" style="width: 350px;"><textarea class="form-control"
                                ng-model="bill.billDescription" placeholder="Enter Description" rows="2"></textarea>
                        </td>
                        <td class="table-heading" style="padding-top: 15px;">
                            <input type="file" file-model="bill.file" style="height: auto;" class="form-control" />
                        </td>
                        <td class="table-heading" style="padding-top: 17px;">
                            <!-- <button class="btn btn-success btn-rounded"
                                    ng-click="vm.saveReimbursementItem(bill, vm.reimbursementObj._id, $index)">Save</button> -->
                            <!-- <button class="btn btn-success btn-rounded" ng-click="vm.saveReimbursementItem(bill, vm.reimbursementObj._id, $index)"><span class="fa fa-floppy-o" aria-hidden="true"></span></a> -->
                            <!-- <button ng-click="uploadFile($index)" class="btn btn-primary">Upload File</button> -->
                            <!-- </td>
                            <td> -->
                            <!-- <button class="btn btn-warning btn-rounded"
                                    ng-click="vm.deleteBill(billDate, $index)">Delete</button> -->
                            <!-- <button class="btn btn-warning btn-rounded form-control" ng-click="vm.deleteBill(billDate, $index)"><span
                                class="fa fa-times" aria-hidden="true"></span></a> -->

                            <a class="" ng-click="vm.deleteBill(billDate, $index)" title="Delete Receipt">
                                <!-- <span class="fa fa-times" aria-hidden="true"></span> -->
                                <span class="fa fa-times-circle delete-bill-icon" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-rounded reimbursement-buttons" type="button"
                ng-disabled="!vm.assignForm.$valid"
                ng-click="vm.saveAsDraft(vm.assignForm, vm.reimbursementObj, $index)">Save As Draft</button>
            <button class="btn btn-success btn-rounded reimbursement-buttons" type="button"
                ng-disabled="!vm.assignForm.$valid"
                ng-click="vm.submitReimbursement(vm.assignForm, vm.reimbursementObj, $index)">Submit
                Reimbursement</button>
            <button class="btn btn-warning btn-rounded reimbursement-buttons" type="button"
                ng-click="vm.cancel()">Cancel</button>
        </div>
        </form>
    </div>
</div>