<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Reimbursement
        <a class="pull-right" ng-click="vm.close()">
            <span class="fa fa-times delete-bill-icon" aria-hidden="true"></span>
        </a>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
        close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="row">
        <div class="col-md-2 image">
            <img src="app-content/assets/user.jpg" class="img-circle group-item-img"
                style="height: 100px; width: 100px; margin-left: 30px; margin-top: 30px;" alt="{{vm.user.userName}}" />
        </div>
        <div class="col-md-10 info">
            <form class="form-horizontal" name="vm.assignForm">
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Employee Name:</label>
                    <div class="col-md-3 col-xs-12 modal-padding">
                        {{vm.reimbursement.userName}}
                    </div>
                    <label class="col-md-2 col-xs-12 control-label">Employee ID:</label>
                    <div class="col-md-3 col-xs-12 modal-padding">{{vm.user.employeeId}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Approver Name:</label>
                    <div class="col-md-3 col-xs-12 modal-padding">{{vm.reimbursement.approveUserName}} </div>
                    <label class="col-md-2 col-xs-12 control-label">Month:</label>
                    <div class="col-md-3 col-xs-12 modal-padding">{{vm.reimbursement.reimbursementMonth}}</div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Business Purpose:</label>
                    <div class="col-md-6 col-xs-12 modal-padding">{{vm.reimbursement.purpose}}</div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table id="" class="table table-condensed table-bordered table-striped">
                <tr>
                    <th class="table-heading">Date</th>
                    <th class="table-heading">Category</th>
                    <th class="table-heading">Description</th>
                    <th class="table-heading" style="width: 120px;">Status</th>
                    <th class="table-heading" style="width: 100px;">Amount</th>
                    <th class="table-heading" style="width:120px">Approved Amount</th>
                    <th class="table-heading" style="width: 70px;">Receipt</th>
                    <th class="table-heading" style="width: 110px;" ng-if="vm.user.userRole=='account'">
                    </th>
                </tr>
                <tr ng-repeat="receipt in vm.reimbursement.receipts">
                    <td style="width: 100px;">{{receipt.receiptDate|date:short}}</td>
                    <td style="width: 120px;">{{receipt.receiptCategory}}</td>
                    <td>{{receipt.receiptDescription}}</td>
                    <td style="width: 120px;">{{receipt.status}}</td>
                    <td style="width: 100px;"><span class="fa fa-inr"></span>{{receipt.receiptAmount}}</td>
                    <td class="table-heading"><input type="number" ng-model="vm.reimbursement.approvedAmount" class="form-control"></input></td>
                    <td style="width: 80px; text-align: center;">
                        <a class="" href="/data/reimbursements/{{receipt.receiptFile}}" target="_blank">
                            <span class="fa fa-file-text-o"></span>
                        </a>
                    </td>
                    <td ng-if="vm.user.userRole=='account'">
                        <a href="" class="btn btn-sm btn-success btn-rounded"
                            ng-click="vm.approveReimbursementReceipt(receipt);">
                            <span class="fa fa-check"></span>
                        </a>
                        <a href="" class="btn btn-sm btn-danger btn-rounded"
                            ng-click="vm.rejectReimbursementReceipt(receipt);">
                            <span class="fa fa-times"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><span class="fa fa-inr"></span> {{vm.reimbursement.totalAmount}}</td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-if="vm.user.userRole=='account'" class="row">
        <form class="form-horizontal" name="vm.rimbursementForm">
            <div class="form-group required">
                <label class="col-md-2 col-xs-12 control-label">Paid Date</label>
                <div class="col-md-3 col-xs-12">
                    <p class="input-group">
                        <input type="text" id="paidDate" class="form-control" uib-datepicker-popup
                            ng-model="vm.reimbursement.paidDate" is-open="vm.paidDateOpened"
                            datepicker-options="vm.dateOptions" close-text="Close" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                ng-click="vm.paidDateOpened=!vm.paidDateOpened">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <label class="col-md-2 col-xs-12 control-label">Mode fo Payment</label>
                <div class="col-md-3 col-xs-12">
                    <select class="form-control" name="paymentMode" id="paymentMode"
                        ng-model="vm.reimbursement.paymentMode"
                        ng-options="option as option for option in ['Online', 'Cheque', 'Cash']"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-12 control-label">Comment</label>
                <div class="col-md-8 col-xs-12">
                    <textarea class="form-control" ng-model="vm.reimbursement.comment" rows="2"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-if="vm.user.userRole=='lead' || vm.user.userRole=='manager'" class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success btn-rounded" ng-click="vm.approveReimbursement();">Approve</button>
        <button class="btn btn-danger btn-rounded" ng-click="vm.rejectReimbursement();">Reject</button>
        <button class="btn btn-danger btn-rounded" ng-click="vm.close();">Cancel</button>
    </div>
</div>
<div ng-if="vm.user.userRole=='account'" class="modal-footer" class="modal-footer">
    <div class="text-center">
        <button class="btn btn-primary btn-rounded" ng-disabled="!vm.enablePayBtn"
            ng-click="vm.claimApproveReimbursement(vm.rimbursementForm);">Claim Approve</button>
        <button class="btn btn-danger btn-rounded" ng-click="vm.claimRejectReimbursement();">Claim Reject</button>
        <button class="btn btn-danger btn-rounded" ng-click="vm.close();">Cancel</button>
    </div>
</div>