<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Reimbursement</h3>
</div>
<div class="modal-body" id="modal-body">
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
        close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="row">
        <div class="col-md-2 image">
            <img src="app-content/assets/user.jpg" class="img-circle group-item-img"
                style="height: 80px; margin-right: 20px;" alt="{{vm.user.userName}}">
        </div>
        <div class="col-md-10 info">
            <form class="form-horizontal" name="vm.assignForm">
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Employee Name</label>
                    <div class="col-md-6 col-xs-12 ">
                        {{vm.user.name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Employee ID</label>
                    <div class="col-md-6 col-xs-12">{{vm.user.employeeId}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Manager Name</label>
                    <div class="col-md-6 col-xs-12">Praveen Pallala</div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Department</label>
                    <div class="col-md-6 col-xs-12">Developement
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">From Date</label>
                    <div class="col-md-6 col-xs-12">01-07-2020
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">To Date</label>
                    <div class="col-md-6 col-xs-12">01-08-2020
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Business Purpose</label>
                    <div class="col-md-6 col-xs-12">Test Business Purpose
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Reimbursement Receipts</label>
                </div></br>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="" class="table table-condensed table-bordered table-striped">
                <tr>
                    <th class="table-heading">Date</th>
                    <th class="table-heading">Category</th>
                    <th class="table-heading">Cost</th>
                    <th class="table-heading">Description</th>
                    <th class="table-heading">Receipt</th>
                    <th class="table-heading">Status</th>
                    <th class="table-heading">Actions</th>
                </tr>
                <tr ng-repeat="item in vm.reimbursement.items">
                    <td class="table-heading" style="width: 80px;">{{item.billDate}}</td>
                    <td class="table-heading" style="width: 120px;">{{item.billCategory}}</td>
                    <td class="table-heading" style="width: 60px;">{{item.billAmount}}</td>
                    <td class="table-heading">{{item.billDescription}}</td>
                    <td class="table-heading" style="width: 150px;">
                        <!-- <div> -->
                        <span>{{item.billFile}}</span>
                        <!-- <i ng-if="item.validBill" class="fa fa-check" style="color: green;" aria-hidden="true"></i>
                            <i ng-if="item.invalidBill" class="fa fa-times" style="color: red;" aria-hidden="true"></i> -->
                        <!-- <span ng-if="vm.user.userRole=='lead' || vm.user.userRole=='manager'">
                                <button class="btn btn-success btn-rounded" type="button"
                                    ng-click="vm.validBill($index)">Accept</button>
                                <button class="btn btn-warning btn-rounded" type="button"
                                    ng-click="vm.invalidBill($index)">Reject</button>
                            </span> -->
                        <!-- </div> -->
                    </td>
                    <td class="table-heading" style="width: 60px;">
                        <i ng-if="item.validBill" class="fa fa-check" style="color: green;" aria-hidden="true"></i>
                        <i ng-if="item.invalidBill" class="fa fa-times" style="color: red;" aria-hidden="true"></i>
                    </td>
                    <td class="table-heading" style="width: 140px;">
                        <span ng-if="vm.user.userRole=='lead' || vm.user.userRole=='manager'">
                            <button class="btn btn-success btn-rounded" type="button"
                                ng-click="vm.validBill($index)">Accept</button>
                            <button class="btn btn-warning btn-rounded" type="button"
                                ng-click="vm.invalidBill($index)">Reject</button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-if="vm.user.userRole=='lead' || vm.user.userRole=='manager'" class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success btn-rounded" type="button" ng-disabled="!vm.assignForm.$valid"
            ng-click="vm.ok(vm.assignForm, vm.reimbursement)">Approve</button>
        <button class="btn btn-warning btn-rounded" type="button" ng-click="vm.cancel()">Reject</button>
    </div>
</div>
<div class="modal-body" ng-if="vm.user.admin===true" id="modal-body">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <form class="form-horizontal" name="vm.assignForm">
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">Total Amount</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" ng-model="vm.reimbursement.department" class="form-control" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">Sanctioned Date</label>
                    <div class="col-md-6 col-xs-12">
                        <p class="input-group">
                            <input type="text" id="toDate" class="form-control" uib-datepicker-popup
                                ng-model="vm.reimbursement.toDate" is-open="vm.toDateOpened"
                                datepicker-options="vm.dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="vm.toDateOpened=!vm.toDateOpened"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-3 col-xs-12 control-label">Reflection Date</label>
                    <div class="col-md-6 col-xs-12">
                        <p class="input-group">
                            <input type="text" id="toDate" class="form-control" uib-datepicker-popup
                                ng-model="vm.reimbursement.toDate" is-open="vm.toDateOpened"
                                datepicker-options="vm.dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="vm.toDateOpened=!vm.toDateOpened"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Mode fo Payment</label>
                    <div class="col-md-6 col-xs-12">
                        <select class="form-control" name="paymentMode" id="paymentMode"
                            ng-model="vm.reimbursement.paymentMode"
                            ng-options="option as option for option in ['Online', 'Cheque', 'Cash']"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Comment</label>
                    <div class="col-md-6 col-xs-12">
                        <td><textarea class="form-control" ng-model="vm.reimbursement.comment"
                                placeholder="Enter your comment" rows="2"></textarea></td>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div ng-if="vm.user.admin===true" class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success btn-rounded" type="button" ng-disabled="!vm.assignForm.$valid"
            ng-click="vm.accept(vm.assignForm, vm.reimbursement)">Sanction</button>
        <button class="btn btn-warning btn-rounded" type="button" ng-click="vm.reject()">Reject</button>
    </div>
</div>