.chip-out-focus {
    border: 1px solid #e0e0e0;
}

.wl-chips {
    margin-bottom: 10px;
}
.panel-body.panel-body-table td, .panel-body.panel-body-table th{
    padding: 4px 5px!important;
}
.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 240px;
    overflow-y: scroll;
}
.dropdown-item{
    padding-left: 20px;
}

/* Reimbursement Styles */
.table-heading {
    text-align: center;
}
.delete-bill-icon {
    font-size: 26px;
    color:red;
    cursor: pointer;
}
.reimbursement-buttons {
    margin: 7px 7px;
}
.button-success {
    font-size: 14px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    background: rgb(80, 219, 80)!important;
    color: black !important;
    padding: 4px 16px !important;
}
.button-warning {
    font-size: 14px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    background: orange !important;
    color: black !important;
    padding: 4px 16px !important;
}
.button-primary {
    font-size: 14px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    background:lightskyblue !important;
    color: black !important;
    padding: 4px 16px !important;
    margin: 2px;
}
.modal-content {
    border-width: 0px !important;
    border-radius: 6px !important;
}