<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ul class="breadcrumb">
        <li><a ui-sref="myTimesheets"><i class="fa fa-dashboard"></i> Timesheet</a></li>
        <li class="active">
            <span ng-if="vm.isNew">Add Hours</span>
            <span ng-if="!vm.isNew">Edit Hours</span>
        </li>
    </ul>
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="vm.hasProjects" class="well well-sm">
                    <form class="form-horizontal" name="timesheetForm">
                        <div class="row">
                            <div class="col-md-8">
                                <strong ng-if="vm.user.reportingUser.name">
                                    Reporting To : {{vm.user.reportingUser.name}}
                                </strong>
                            </div>
                            <div class="form-group required col-md-4">
                                <label class="col-md-2 control-label">Week</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.timesheet.weekDate" is-open="vm.timesheetDateOpened" datepicker-options="vm.dateOptions" readonly ng-required="true" close-text="Close" ng-change="vm.setAssignedProjects();" ng-disabled="!vm.isNew"
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.timesheetDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Project</th>
                                <th>Allocated Hours</th>
                                <th style="width: 120px;">Worked Hours</th>
                                <th style="width: 100px;">Sick Leave (hrs)</th>
                                <th style="width: 100px;">Timeoff (hrs)</th>
                                <th style="width: 100px;">Corp Holiday (hrs)</th>
                                <th style="width: 100px;">Overtime (hrs)</th>
                                <th>Comments</th>
                            </tr>
                            <tr ng-repeat="project in vm.timesheet.projects">
                                <td>{{project.projectName}}</td>
                                <td><b>{{project.allocatedHours}}</b></td>
                                <td><input type="number" ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" min="0" max="70" placeholder="Your Hours" class="form-control" ng-model="project.projectHours" ng-required="true" ng-change="vm.calTotalHours();"
                                    /></td>
                                <td>
                                    <select ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" class="form-control" ng-model="project.sickLeaveHours" ng-required="true" ng-change="vm.calTotalHours();"
                                    ng-options="opt.id as opt.label for opt in vm.masterLeavesVals"></select>
                                    <!-- <input type="number" ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" min="0" max="40" class="form-control" ng-model="project.sickLeaveHours" ng-required="true" ng-change="vm.calTotalHours();" /> -->
                                </td>
                                <td><input type="number" ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" min="0" max="40" class="form-control" ng-model="project.timeoffHours" ng-required="true" ng-change="vm.calTotalHours();" /></td>
                                <td><input type="number" ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" min="0" max="40" class="form-control" ng-model="project.corpHolidayHours" ng-required="true" ng-change="vm.calTotalHours();" /></td>
                                <td><input type="number" ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" min="0" max="40" class="form-control" ng-model="project.overtimeHours" readonly="readonly" /></td>
                                <td><textarea class="form-control" ng-disabled="!vm.isNew && project.projectId !=vm.rejectedProjectId" placeholder="Please enter your comment" rows="2" ng-model="project.projectComment"></textarea></td>
                            </tr>
                            <tr>
                                <th colspan="2">Total Hours :</th>
                                <th>{{vm.timesheet.totalHours}}</th>
                                <th></th>
                                <th>{{vm.timesheet.timeoffHours}}</th>
                                <th>{{vm.timesheet.corpHolidayHours}}</th>
                                <th>{{vm.timesheet.overtimeHours}}</th>
                                <th>
                                    <span class="pull-left">{{vm.timesheetHours}}</span>
                                    <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="vm.saveTimesheet(timesheetForm);">Submit</button>
                                </th>
                            </tr>
                        </table>
                    </form>
                </div>
                <div ng-if="vm.hasProjects===false;" class="well well-sm">
                    <h1>You don't have project(s). Please contact Admin</h1>
                </div>
            </div>
        </div>
    </div>
</div>