<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ul class="breadcrumb">
        <li><a ui-sref="timesheet"><i class="fa fa-dashboard"></i> Timesheet</a></li>
        <li class="active">
            <span ng-if="vm.isNew">Add Hours</span>
            <span ng-if="!vm.isNew">Edit Hours</span>
        </li>
    </ul>
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" name="timesheetForm">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="form-group required col-md-4">
                                <label class="col-md-2 control-label">Week</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.timesheet.weekDate" is-open="vm.timesheetDateOpened" datepicker-options="vm.dateOptions" readonly ng-required="true" close-text="Close" ng-disabled="!vm.isNew" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.timesheetDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Project</th>
                                <th>Hours</th>
                                <th>Comments</th>
                                <!-- <th>
                                    <button class="btn btn-primary">Add</button>
                                </th> -->
                            </tr>
                            <tr ng-repeat="project in vm.timesheet.projects">
                                <td>
                                    <span ng-if="project.isAssigned">{{project.projectName}}</span>
                                    <select ng-if="project.isAssigned!==true" class="form-control" ng-model="project.projectId" ng-options="project.projectId as project.projectName for project in vm.user.projects"></select>
                                </td>
                                <td>
                                    <input type="number" min="0" max="70" placeholder="Your Hours" class="form-control" ng-model="project.projectHours" ng-required="true" ng-change="vm.calTotalHours();" />
                                </td>
                                <td>
                                    <textarea class="form-control" placeholder="Please enter your comment" rows="2" ng-model="project.projectComment"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Total Hours :</th>
                                <th>{{vm.timesheet.totalHours}}</th>
                                <th style="text-align: right;"><button type="button" class="btn btn-primary btn-lg" ng-click="vm.saveTimesheet(timesheetForm);">Submit</button></th>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>