<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ul class="breadcrumb">
        <li><a ui-sref="timesheet"><i class="fa fa-dashboard"></i> Timesheet</a></li>
        <li class="active">
            <span ng-if="vm.isNew">Add Hours</span>
            <span ng-if="!vm.isNew">Edit Hours</span>
        </li>
    </ul>
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="vm.hasProjects" class="well well-sm">
                    <form class="form-horizontal" name="timesheetForm">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="form-group required col-md-4">
                                <label class="col-md-2 control-label">Week</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.timesheet.weekDate" is-open="vm.timesheetDateOpened" datepicker-options="vm.dateOptions" readonly ng-required="true" close-text="Close" ng-disabled="!vm.isNew" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.timesheetDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Project</th>
                                <th>Hours</th>
                                <th>Comments</th>
                                <!-- <th>
                                    <button class="btn btn-primary">Add</button>
                                </th> -->
                            </tr>
                            <tr ng-repeat="project in vm.timesheet.projects">
                                <td>
                                    <span ng-if="project.isAssigned">{{project.projectName}}</span>
                                    <select ng-if="project.isAssigned!==true" class="form-control" ng-model="project.projectId" ng-options="project.projectId as project.projectName for project in vm.user.projects"></select>
                                </td>
                                <td>
                                    <input type="number" min="0" max="70" placeholder="Your Hours" class="form-control" ng-model="project.projectHours" ng-required="true" ng-change="vm.calTotalHours();" />
                                </td>
                                <td>
                                    <textarea class="form-control" placeholder="Please enter your comment" rows="2" ng-model="project.projectComment"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Total Hours :</th>
                                <th>{{vm.timesheet.totalHours}}</th>
                                <th style="text-align: right;"><button type="button" class="btn btn-primary btn-lg" ng-click="vm.saveTimesheet(timesheetForm);">Submit</button></th>
                            </tr>
                        </table>
                    </form>
                </div>
                <div ng-if="vm.hasProjects===false;" class="well well-sm">
                    <h1>You don't have project(s). Please contact Admin</h1>
                    <!-- <form class="form-horizontal" name="assignForm">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name</label>
                                <div class="col-md-10">
                                    {{vm.projectUser.userName}}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Project Name</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="vm.projectUser.projectId" ng-options="project._id as project.projectName for project in vm.projects" ng-required="true"></select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-2 control-label">Start Date</label>
                                <div class="col-md-10">
                                    <p class="input-group" style="width: 200px;">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.projectUser.startDate" is-open="vm.timesheetDateOpened" datepicker-options="vm.projectDateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.timesheetDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Billable Dates</label>
                                <div class="col-md-10">
                                    <table id="" class="table">
                                        <tr ng-if="vm.projectUser.billDates.length > 0">
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Resource Type</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="billDate in vm.projectUser.billDates" class="">
                                            <td>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="billDate.start" is-open="billDate.startOpened" datepicker-options="vm.dateOptions" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="billDate.startOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="billDate.end" is-open="billDate.endOpened" datepicker-options="vm.dateOptions" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="billDate.endOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="billDate.resourceType" ng-options="resourceType.resourceTypeId as resourceType.resourceTypeVal for resourceType in vm.resourceTypes">
                                                </select>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <button class="btn btn-primary" type="button" ng-disabled="!vm.enableSaveBtn" ng-click="vm.assignNewProject(assignForm)">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>