<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Consolidated Projects</h3>
            </div>
            <div class="panel-body ">
                <div class="clearfix row">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
                    </div>
                    <div class="col-md-10">
                        <form class="form-inline" method="post">
                            <div class="form-group">
                                <label class="" for="clientId">Client :</label>
                                <select id="clientId" class="form-control" ng-model="vm.search.clientId" ng-options="client._id as client.clientName for client in vm.clients" ng-change="vm.search.projectId=''; vm.getConsolidatedProjects();"></select>
                            </div>
                            <strong>OR</strong>
                            <div class="form-group">
                                <label class="" for="projectId">Project :</label>
                                <select id="projectId" class="form-control" ng-model="vm.search.projectId" ng-options="project._id as project.projectName for project in vm.projects"  ng-change="vm.search.clientId=''; vm.getConsolidatedProjects();"></select>
                            </div>
                            <div class="form-group">
                                <label class="" for="startDate">Start Date :</label>
                                <p class="input-group" style="width: 140px;">
                                    <input type="text" id="startDate" class="form-control" uib-datepicker-popup ng-model="vm.search.startDate" is-open="vm.search.startDateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getConsolidatedProjects();" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.search.startDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="" for="endDate">End Date :</label>
                                <p class="input-group" style="width: 140px;">
                                    <input type="text" id="endDate" class="form-control" uib-datepicker-popup ng-model="vm.search.endDate" is-open="vm.search.endDateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getConsolidatedProjects();" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.search.endDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="vm.getConsolidatedProjects()">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <thead>
                    <tr>
                        <th width="80px">S.No</th>
                        <th width="240px">User Name</th>
                        <th width="180px">Project Name</th>
                        <th width="80px">Assign Date</th>
                        <th width="320px" colspan="4" class="text-center" ng-repeat="week in vm.weeks">{{week.weekName}}</th>
                        <th width="240px" colspan="3" class="text-center">Total</th>
                    </tr>
                    <tr>
                        <th width="80px"></th>
                        <th width="240px"></th>
                        <th width="180px"></th>
                        <th width="80px"></th>
                        <th width="80px" ng-repeat-start="week in vm.weeks">Resource</th>
                        <th width="80px">Hours</th>
                        <th width="80px">Timeoff</th>
                        <th width="80px" ng-repeat-end>Overtime</th>
                        <th width="80px">Hours</th>
                        <th width="80px">Timeoff</th>
                        <th width="80px">Overtime</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="sheet in vm.timesheets">
                    <tr ng-repeat="project in sheet.projects">
                        <td ng-if="$index==0" rowspan="{{sheet.projects.length}}">{{sheet.sno}}</td>
                        <td ng-if="$index==0" rowspan="{{sheet.projects.length}}">{{sheet.userName}} <span ng-if="project.expDays>-31 && project.expDays<31" class="glyphicon glyphicon-flag" style="color: green;"></span></td>
                        <td>{{project.projectName}}</td>
                        <td>{{project.assignDate}}</td>
                        <td width="80px" ng-repeat-start="week in vm.weeks" ng-init="bgColor=(project[week.week].resourceType=='billable')?'':'background-color:#ffa500b8;';" style="{{bgColor}}">{{project[week.week].resourceType}}</td>
                        <td width="80px" style="{{bgColor}}">{{project[week.week].billableHours}}</td>
                        <td width="80px" style="{{bgColor}}">{{project[week.week].timeoffHours}}</td>
                        <td width="80px" style="{{bgColor}}" ng-repeat-end>{{project[week.week].overtimeHours}}</td>
                        <td width="80px">{{project.totalBillableHours}}</td>
                        <td width="80px">{{project.totalTimeoffHours}}</td>
                        <td width="80px">{{project.totalOvertimeHours}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="pull-left">
                        <p><span class="glyphicon glyphicon-flag" style="color: green;"></span> : Who assigned project past 30days.</p>
                        <p><span style="background-color:#ffa500b8;"> &nbsp; &nbsp; </span> : Non-billable resource.</p>
                    </div>
                    <div ng-if="vm.timesheets.length > 0" class="pull-right" style="width: 220px;">
                        <div class="row">
                            <div class="col-md-6"><strong>Resource Type</strong></div>
                            <div class="col-md-6"><strong>Total Hours</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Billable</strong></div>
                            <div class="col-md-6">{{vm.resourceTypes.billable}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Shadow</strong></div>
                            <div class="col-md-6">{{vm.resourceTypes.shadow}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Bizdev</strong></div>
                            <div class="col-md-6">{{vm.resourceTypes.bizdev}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Buffer</strong></div>
                            <div class="col-md-6">{{vm.resourceTypes.buffer}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
