<script type='text/javascript' src='libs/js/jquery.doubleScroll.js'></script>
<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Consolidated Projects</h3>
            </div>
            <div class="panel-body ">
                <div class="clearfix row">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
                    </div>
                    <div class="col-md-10">
                        <form class="form-inline" method="post">
                            <div class="row text-left" style="margin-bottom: 14px;">
                                <div class="form-group" style="width: 120px;">
                                    <label class="" for="clientId">Resource Type :</label>
                                    <select class="form-control" ng-model="vm.search.userResourceType" ng-options="opt.id as opt.label for opt in [{id:'',label:'All'}, {id:'Billable',label:'Billable'}, {id:'Non-billable',label:'Non-billable'}]" ng-change="vm.getConsolidatedProjects();"></select>
                                </div>
                                <div class="form-group" style="width: 40px;">
                                    <strong>AND</strong>
                                </div>
                                <div class="form-group" style="width: 160px;">
                                    <label class="" for="clientId">Business Unit :</label>
                                    <select id="businessUnit" class="form-control" ng-model="vm.search.businessUnit" ng-options="option as option for option in vm.projectBusinessUnits" ng-change="vm.search.projectId=''; vm.search.clientId=''; vm.getConsolidatedProjects();"></select>
                                </div>
                                <div class="form-group" style="width: 40px;">
                                    <strong>OR</strong>
                                </div>
                                <div class="form-group" style="width: 160px;">
                                    <label class="" for="clientId">Client :</label>
                                    <select id="clientId" class="form-control" ng-model="vm.search.clientId" ng-options="client._id as client.clientName for client in vm.clients" ng-change="vm.search.projectId=''; vm.search.businessUnit=''; vm.getConsolidatedProjects();"></select>
                                </div>
                                <div class="form-group" style="width: 40px;">
                                    <strong>OR</strong>
                                </div>
                                <div class="form-group" style="width: 160px;">
                                    <label class="" for="projectId">Project :</label>
                                    <select id="projectId" class="form-control" ng-model="vm.search.projectId" ng-options="project._id as project.projectName for project in vm.projects"  ng-change="vm.search.clientId=''; vm.search.businessUnit=''; vm.getConsolidatedProjects();"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label class="" for="startDate">Start Date :</label>
                                    <p class="input-group" style="width: 140px;">
                                        <input type="text" id="startDate" class="form-control" uib-datepicker-popup ng-model="vm.search.startDate" is-open="vm.search.startDateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getConsolidatedProjects();" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.search.startDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group col-md-5">
                                    <label class="" for="endDate">End Date :</label>
                                    <p class="input-group" style="width: 140px;">
                                        <input type="text" id="endDate" class="form-control" uib-datepicker-popup ng-model="vm.search.endDate" is-open="vm.search.endDateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getConsolidatedProjects();" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.search.endDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary" ng-click="vm.getConsolidatedProjects()">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="double-scroll" class="">
                    <table class="table table-condensed table-bordered table-striped" export-table>
                    <tr>
                        <th width="80px">S.No</th>
                        <th style="min-width: 140px;">EMP ID</th>
                        <th style="min-width: 240px;">User Name</th>
                        <th style="min-width: 140px;">Project Name</th>
                        <th style="min-width: 100px;">Business Unit</th>
                        <th style="min-width: 90px;">Assign Date</th>
                        <th width="320px" colspan="4" class="text-center" ng-repeat="week in vm.weeks">{{week.weekName}}</th>
                        <th width="320px" colspan="4" class="text-center">Total</th>
                        <th width="80px" rowspan="2" class="text-center">Grand</th>
                    </tr>
                    <tr>
                        <th width="80px"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th width="80px" ng-repeat-start="week in vm.weeks">Resource</th>
                        <th width="80px">Hours</th>
                        <th width="80px">Timeoff</th>
                        <th width="80px" ng-repeat-end>Overtime</th>
                        <th width="80px">Hours</th>
                        <th width="80px">Timeoff</th>
                        <th width="80px">Overtime</th>
                        <th width="80px">Sum</th>
                    </tr>

                    <tbody ng-repeat="sheet in vm.timesheets">
                    <tr ng-repeat="project in sheet.projects">
                        <td ng-if="$index==0" rowspan="{{sheet.projects.length}}">{{sheet.sno}}</td>
                        <td ng-if="$index==0" rowspan="{{sheet.projects.length}}">{{sheet.employeeId}}</td>
                        <td ng-if="$index==0" rowspan="{{sheet.projects.length}}">{{sheet.userName}} <span ng-if="project.expDays>-31 && project.expDays<31" class="glyphicon glyphicon-flag" style="color: green;"></span></td>
                        <td>{{project.projectName}}</td>
                        <td>{{project.businessUnit}}</td>
                        <td>{{project.assignDate}}</td>
                        <td width="80px" ng-repeat-start="week in vm.weeks" ng-init="bgColor=(project[week.week].resourceType=='billable')?'':'background-color:#ffa500b8;';" style="{{bgColor}}">{{project[week.week].resourceType}}</td>
                        <td width="80px" style="{{bgColor}}">{{project[week.week].billableHours}}</td>
                        <td width="80px" style="{{bgColor}}">{{project[week.week].timeoffHours}}</td>
                        <td width="80px" style="{{bgColor}}" ng-repeat-end>{{project[week.week].overtimeHours}}</td>
                        <td width="80px">{{project.totalBillableHours}}</td>
                        <td width="80px">{{project.totalTimeoffHours}}</td>
                        <td width="80px">{{project.totalOvertimeHours}}</td>
                        <td width="80px">{{project.projectTotalHours}}</td>
                        <td ng-if="$index==0" rowspan="{{sheet.projects.length}}" width="80px">{{sheet.grandTotalHours}}</td>
                    </tr>
                    </tbody>
                    <tr>
                        <td colspan="6"></td>
                        <td width="80px" ng-repeat-start="week in vm.weeks"></td>
                        <td width="80px" style="{{bgColor}}">{{week.weekBillableHours}}</td>
                        <td width="80px" style="{{bgColor}}">{{week.weekTimeoffHours}}</td>
                        <td width="80px" style="{{bgColor}}" ng-repeat-end>{{week.weekOvertimeHours}}</td>
                        <td colspan="4"></td>
                        <td></td>
                    </tr>
                    <tr ng-if="vm.timesheets.length > 0">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="4" ng-repeat="week in vm.weeks">
                            <div class="row">
                                <div class="col-md-8"><strong>Resource Type</strong></div>
                                <div class="col-md-4"><strong>Hours</strong></div>
                            </div>
                            <div class="row" ng-repeat="resourceType in vm.resourceTypes" ng-init="week[resourceType]">
                                <div class="col-md-8"><strong>{{resourceType}} ({{week.resourceTypes[resourceType].headCount}})</strong></div>
                                <div class="col-md-4"><strong>{{week.resourceTypes[resourceType].hours}}</strong></div>
                            </div>
                        </th>
                        <th colspan="4">
                            <div class="row">
                                <div class="col-md-8"><strong>Resource Type</strong></div>
                                <div class="col-md-4"><strong>Hours</strong></div>
                            </div>
                            <div class="row" ng-repeat="resourceType in vm.resourceTypes" ng-init="week[resourceType]">
                                <div class="col-md-8"><strong>{{resourceType}}</strong></div>
                                <div class="col-md-4"><strong>{{vm.totalResourceTypes[resourceType]}}</strong></div>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="pull-left">
                        <p><span class="glyphicon glyphicon-flag" style="color: green;"></span> : Who assigned project past 30days.</p>
                        <p><span style="background-color:#ffa500b8;"> &nbsp; &nbsp; </span> : Non-billable resource.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#double-scroll').doubleScroll();
    });
</script>
