<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="" ng-if="vm.user.admin">
        <!-- START DEFAULT TABLE EXPORT -->
        <div class="panel panel-default tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">All Users</a></li>
                <li><a href="#tab-second" role="tab" data-toggle="tab">Mine</a></li>
            </ul>
            <div class="panel-body tab-content">
                <div class="tab-pane active" id="tab-first">
                    <p></p>
                    <div class="clearfix row">
                        <div class="col-sm-6">
                            <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
                            <button class="btn btn-primary" ng-click="vm.remindAll()">Remind All</button>
                            <button class="btn btn-primary" ng-show="!vm.monthView" ng-click="vm.toggleView(true)" style="display: none;">Month View</button>
                            <button class="btn btn-primary" ng-show="vm.monthView" ng-click="vm.toggleView(false)">Week View</button>
                        </div>
                        <div class="form-group pull-right col-sm-6">
                            <label class="col-md-3" ng-show="!vm.monthView">Filter By Week</label>
                            <label class="col-md-3" ng-show="vm.monthView">Filter By Month</label>
                            <div class="col-md-9">
                                <p class="input-group" ng-show="!vm.monthView">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.currentWeek" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getAllReports(vm.currentWeek)" />
                                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                                </p>
                                <p class="input-group" ng-show="vm.monthView">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.currentMonth" is-open="vm.popup2.opened" datepicker-options="vm.monthOptions" ng-required="true" close-text="Close" ng-change="vm.getMonthReport(vm.currentMonth)" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" export-table ng-show="!vm.monthView">
                        <tr ng-repeat="row in $data | orderBy:'name'">
                            <td data-title="'#'">{{$index + 1}}</td>
                            <td data-title="'Name'" filter="{userName: 'text'}">{{row.userName}}</td>
                            <td data-title="'Project(s)'">
                                <div class="row" ng-repeat="project in row.projects">
                                    <div class="col-md-4">{{project.projectName}}</div>
                                    <div class="col-md-2">{{project.projectHours}}</div>
                                    <div class="col-md-6">
                                        <p style="max-width: 300px; margin: 0px!important;">{{project.projectComment}}</p>
                                    </div>
                                </div>
                            </td>
                            <td data-title="'Hours'">{{row.totalHours}}</td>
                            <td data-title="'Action'">
                                <button class="btn btn-primary btn-xs" ng-click="vm.remind(row.userId)" ng-show="row.remind">Remind</button>
                                <!--<a class="btn btn-primary btn-xs" ng-click="vm.viewUserTimesheet(row)" ng-show="row.timesheetId != '' && vm.user.admin">Edit</a>-->
                            </td>
                        </tr>
                    </table>
                    <table class="table table-condensed table-bordered table-striped" export-table ng-show="vm.monthView">
                        <tr>
                            <th ng-repeat="column in vm.monthColumns">{{column}}</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td ng-repeat="column in vm.monthColumns" ng-show="!$last">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Project</td>
                                        <td>Hours</td>
                                        <td>Comments</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr ng-repeat="user in vm.users | orderBy:'name'">
                            <td>{{user.name}}</td>
                            <td ng-repeat="week in user.weeks">
                                <span ng-repeat="column in vm.monthColumns">
                            <span ng-if="column == week.name">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>{{week.value.project}}</td>
                                        <td>{{week.value.hours}}</td>
                                        <td>{{week.value.comments}}</td>
                                    </tr>
                                </table>
                            </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="tab-second">
                    <p></p>
                    <a class="btn btn-primary" ui-sref="addTimesheet">Add Hours</a>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Week</th>
                                <th>
                                    <div class="row">
                                        <div class="col-md-4">Project</div>
                                        <div class="col-md-4">Hours</div>
                                        <div class="col-md-4">Comment</div>
                                    </div>
                                </th>
                                <th>Total Hours</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="sheet in vm.timesheets | orderBy: '-weekDate'">
                                <td>{{sheet.weekDate | date: 'mediumDate'}}</td>
                                <td>
                                    <div class="row" ng-repeat="project in sheet.projects">
                                        <div class="col-md-4">{{project.projectName}}</div>
                                        <div class="col-md-2">{{project.projectHours}}</div>
                                        <div class="col-md-6">
                                            <p style="max-width: 400px;">{{project.projectComment}}</p>
                                        </div>
                                    </div>
                                </td>
                                <th>{{sheet.totalHours}}</th>
                                <td><a class="btn btn-primary btn-xs" ui-sref="editTimesheet({id: sheet._id})">Update</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.user.admin">
        <br>
        <a class="btn btn-primary" ui-sref="addTimesheet">Add Hours</a>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Week</th>
                    <th>
                        <div class="row">
                            <div class="col-md-4">Project</div>
                            <div class="col-md-4">Hours</div>
                            <div class="col-md-4">Comment</div>
                        </div>
                    </th>
                    <th>Total Hours</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="sheet in vm.timesheets | orderBy: '-weekDate'">
                    <td>{{sheet.weekDate | date: 'mediumDate'}}</td>
                    <td>
                        <div class="row" ng-repeat="project in sheet.projects">
                            <div class="col-md-4">{{project.projectName}}</div>
                            <div class="col-md-2">{{project.projectHours}}</div>
                            <div class="col-md-6">
                                <p style="max-width: 400px;">{{project.projectComment}}</p>
                            </div>
                        </div>
                    </td>
                    <th>{{sheet.totalHours}}</th>
                    <td>
                        <a class="btn btn-primary btn-xs" ui-sref="editTimesheet({id: sheet._id})">Update</a>
                        <a class="btn btn-primary btn-xs" ng-click="vm.deleteTimesheet(sheet._id)">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>