<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <div class="panel panel-default tabs">
            <div class="panel-body tab-content">
                    <div class="clearfix row">
                        <div class="col-sm-6">
                            <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
                            <button class="btn btn-primary" ng-click="vm.remindAll()">Remind All</button>
                            <button class="btn btn-primary" ng-show="!vm.monthView" ng-click="vm.toggleView(true)" style="display: none;">Month View</button>
                            <button class="btn btn-primary" ng-show="vm.monthView" ng-click="vm.toggleView(false)">Week View</button>
                        </div>
                        <div class="form-group pull-right col-sm-6">
                            <label class="col-md-3" ng-show="!vm.monthView">Filter By Week</label>
                            <label class="col-md-3" ng-show="vm.monthView">Filter By Month</label>
                            <div class="col-md-9">
                                <p class="input-group" ng-show="!vm.monthView">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.currentWeek" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getAllReports(vm.currentWeek)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <p class="input-group" ng-show="vm.monthView">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.currentMonth" is-open="vm.popup2.opened" datepicker-options="vm.monthOptions" ng-required="true" close-text="Close" ng-change="vm.getMonthReport(vm.currentMonth)" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <table class="table table-condensed table-bordered table-striped" export-table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th class="row" width="580px">
                                <table>
                                    <tr>
                                        <td width="200px;">Project Name</td>
                                        <td width="100px;">Business Unit</td>
                                        <td width="100px;">Resource Type</td>
                                        <td width="60px;">Project Hours</td>
                                        <td width="60px;">Sick Leaves</td>
                                        <td width="60px;">Timeoff</td>
                                        <td width="60px;">Crop Holiday</td>
                                        <td width="60px;">Overtime</td>
                                    </tr>
                                </table>
                            </th>
                            <th>Total Hours</th>
                            <th>Total Timeoff</th>
                            <th>Total Overtime</th>
                            <th width="100px;">Status</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input class="form-control" type="text" ng-model="vm.search.userName" /></td>
                            <td><select class="form-control" ng-model="vm.search.userResourceType" ng-options="opt.id as opt.label for opt in [{id:'',label:'All'}, {id:'Billable',label:'Billable'}, {id:'Non-billable',label:'Non-billable'}]"></select></td>
                            <td class="row">
                                <table>
                                    <tr>
                                        <td width="200px;">
                                            <select class="form-control" ng-model="vm.search.projectId" ng-options="project.id as project.title for project in vm.projects"></select>
                                        </td>
                                        <td width="100px;"><select class="form-control" ng-model="vm.search.businessUnit" ng-options="opt as opt for opt in vm.projectBusinessUnits"></select></td>
                                        <td width="100px;"><select class="form-control" ng-model="vm.search.resourceType" ng-options="resourceType.resourceTypeId as resourceType.resourceTypeVal for resourceType in vm.resourceTypes"></select></td>
                                        <td width="60px;"></td>
                                        <td width="60px;"></td>
                                        <td width="60px;"></td>
                                        <td width="60px;"></td>
                                        <td width="60px;"></td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <select class="form-control" ng-model="vm.search.isFilled" ng-options="opt.id as opt.label for opt in [{id:'', label:'All'}, {id:'filled', label:'Filled'}, {id:'notfilled', label:'Not Filled'}]"></select>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Head count: {{vm.search.timesheetResult.headCount}}</th>
                            <th></th>
                            <th></th>
                            <th>{{vm.search.timesheetResult.totalBillableHours}}</th>
                            <th>{{vm.search.timesheetResult.timeoffHours}}</th>
                            <th>{{vm.search.timesheetResult.overtimeHours}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.tblUsers | orderBy:'name'">
                            <td>{{$index + 1}}</td>
                            <td>{{row.userName}}</td>
                            <td>{{row.userResourceType}}</td>
                            <td class="row">
                                <table>
                                    <tr class="" ng-repeat="project in row.projects" ng-init="bgColor=(project.resourceType=='billable')?'':'background-color:#ffa500b8;';" style="{{bgColor}}">
                                        <td width="200px;">{{project.projectName}}</td>
                                        <td width="100px;">{{project.businessUnit}}</td>
                                        <td width="100px;">{{project.resourceType}}</td>
                                        <td width="60px;">{{project.billableHours}}</td>
                                        <td width="60px;">{{project.sickLeaveHours}}</td>
                                        <td width="60px;">{{project.timeoffHours}}</td>
                                        <td width="60px;">{{project.corpHolidayHours}}</td>
                                        <td width="60px;">{{project.overtimeHours}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>{{row.totalBillableHours}}</td>
                            <td>{{row.timeoffHours}}</td>
                            <td>{{row.overtimeHours}}</td>
                            <td>
                                <span class="badge badge-secondary" ng-if="row.timesheetStatus===null">Pending</span>
                                <span class="badge badge-success" ng-if="row.timesheetStatus===true">Approved</span>
                                <span class="badge badge-danger" ng-if="row.timesheetStatus===false">Rejected</span>
                                <div>
                                <select ng-if="row.timesheetStatus===null || row.timesheetStatus===true || row.timesheetStatus===false" class="form-control" ng-model="vm.newTimesheetVal[row.timesheetId]" ng-change="vm.setTimesheetStatus(row.timesheetId)">
                                    <option value="">Change To</option>
                                    <option ng-if="row.timesheetStatus!==null" value="Pending">Pending</option>
                                    <option ng-if="row.timesheetStatus===null || row.timesheetStatus===false" value="Approved">Approved</option>
                                    <option ng-if="row.timesheetStatus===null || row.timesheetStatus===true" value="Rejected">Rejected</option>
                                </select>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" ng-click="vm.remind(row.userId)" ng-show="row.remind">Remind</a>
                                <a class="btn" ng-click="vm.viewUserTimesheet(row)" ng-show="row.timesheetId != '' && vm.user.admin"><span class="glyphicon glyphicon-edit"></span> </a>
                                <a class="btn" ng-if="row.timesheetId" ng-click="vm.adminDeleteTimesheet(row.timesheetId)"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th>Head count: {{vm.search.timesheetResult.headCount}}</th>
                            <th></th>
                            <th></th>
                            <th>{{vm.search.timesheetResult.totalBillableHours}}</th>
                            <th>{{vm.search.timesheetResult.timeoffHours}}</th>
                            <th>{{vm.search.timesheetResult.overtimeHours}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
            </div>
        </div>
</div>