<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="row">
        <br/>
        <a class="btn btn-primary" ui-sref="addTimesheet">Add Hours</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th width="100px;">Week</th>
                <th class="row">
                    <table>
                        <tr>
                            <td width="240px;">Project Name</td>
                            <td width="80px;">Project Hours</td>
                            <td width="80px;">Sick Leaves</td>
                            <td width="80px;">Timeoff</td>
                            <td width="80px;">Overtime</td>
                            <td width="80px;">Crop Holiday</td>
                            <td width="300px;">Project Comment</td>
                            <th width="80px;">Status</th>
                            <th width="80px;">Action</th>
                        </tr>
                    </table>
                </th>
                <th width="80px;">Total Working Hours</th>
                <th width="80px;">Total Timeoff Hours</th>
                <th width="80px;">Total Overtime Hours</th>
            </tr>
            <tr ng-repeat="sheet in vm.timesheets | orderBy: '-weekDate'">
                <td>{{sheet.weekDate | date: 'mediumDate'}}</td>
                <td class="row">
                    <table>
                        <tr class="" ng-repeat="project in sheet.projects">
                            <td width="240px;">{{project.projectName}}</td>
                            <td width="80px;">{{project.billableHours}}</td>
                            <td width="80px;">{{project.sickLeaveHours}}</td>
                            <td width="80px;">{{project.timeoffHours}}</td>
                            <td width="80px;">{{project.overtimeHours}}</td>
                            <td width="80px;">{{project.corpHolidayHours}}</td>
                            <td width="300px;">
                                <p style="max-width: 300px; margin: 0px!important;">{{project.projectComment}}</p>
                            </td>
                            <td width="80px;">
                                <span class="badge badge-secondary" ng-if="project.sheetStatus==='Pending'" style="margin: 5px 0;">Pending</span>
                                <span class="badge badge-success" ng-if="project.sheetStatus==='Approved'" style="margin: 5px 0;">Approved</span>
                                <span class="badge badge-danger" ng-if="project.sheetStatus==='Rejected'" style="margin: 5px 0;">Rejected</span>
                            </td>
                            <td width="80px;" style="text-align: center;">
                                <a ng-if="project.sheetStatus=='Rejected' || project.sheetStatus == 'Pending'" class="btn btn-primary btn-xs" ui-sref="editTimesheet({id: sheet._id, projectId:project.projectId})">Edit</a>
                                <!-- <a ng-if="sheet.timesheetStatus!==true" class="btn btn-primary btn-xs" ng-click="vm.deleteTimesheet(sheet._id)">Delete</a> -->
                            </td>
                        </tr>
                    </table>
                </td>
                <th>{{sheet.totalHours}}</th>
                <th>{{sheet.timeoffHours}}</th>
                <th>{{sheet.overtimeHours}}</th>
            </tr>
        </table>
    </div>
</div>