<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pool Projects</h3>
            </div>
            <div class="panel-body ">
                <div class="clearfix row">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
                    </div>
                    <div class="col-md-10">
                        <form class="form-inline" method="post">
                            <div class="form-group">
                                <label class="" for="startDate">Start Date :</label>
                                <p class="input-group" style="width: 140px;">
                                    <input type="text" id="startDate" class="form-control" uib-datepicker-popup ng-model="vm.search.startDate" is-open="vm.search.startDateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getPoolUsers();" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.search.startDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="" for="endDate">End Date :</label>
                                <p class="input-group" style="width: 140px;">
                                    <input type="text" id="endDate" class="form-control" uib-datepicker-popup ng-model="vm.search.endDate" is-open="vm.search.endDateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getPoolUsers();" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.search.endDateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="vm.getPoolUsers()">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <tr>
                        <th width="320px" class="text-center" ng-repeat="week in vm.weeks">{{week.weekName}}</th>
                    </tr>
                    <tr>
                        <td width="320px" ng-repeat="week in vm.weeks">
                            <!--<div class="list-group" ng-repeat="user in week.users">
                                <div class="list-group-item">{{user.userName}}</div>
                            </div>-->
                            <table class="table">
                                <tr ng-repeat="user in week.users |orderBy:'userName'"><td>{{user.userName}}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
