<div class="page-title">
    <h2 ng-if="vm.showList"><span class="fa fa-congs"></span> My Projects</h2>
    <ul class="breadcrumb" ng-if="!vm.showList">
        <li><a ng-click="vm.backToList()"><i class="fa fa-dashboard"></i> My Projects</a></li>
        <li class="active">
            <span>Aprove Hours</span>
        </li>
    </ul>
</div>
<div class="page-content-wrap">
    <div class="row" ng-if="vm.showList">
        <div class="col-md-3" ng-repeat="project in vm.projects track by $index" ng-if="project.ownerId == vm.user._id" style="cursor: pointer;">
            <a ng-click="vm.viewProject(project)" class="tile tile-info" ng-class-even="tile-valign" ng-class-odd="tile-primary" style="font-size: 16px;">
            {{project.projectName}}
            <div class="informer informer-default"></div>
            <div class="informer informer-default dir-br"><span class="fa fa-users"></span></div>
        </a>
        </div>
    </div>
    <div class="row" ng-if="!vm.showList">
        <div class="clearfix row">
            <div class="col-sm-6 clearfix">
                <h1 class="pull-left">{{vm.currentProject.projectName}}</h1>
                <button class="btn btn-primary pull-left" ng-click="vm.remindAll()" style="margin: 0 10px; position: relative; top: 20px;"> Remind All</button>
            </div>
            <div class="form-group pull-right col-sm-6">
                <label class="col-md-3">Filter By Week</label>
                <div class="col-md-9">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.currentWeek" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-change="vm.getReport(vm.currentWeek)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Resource Type</th>
                    <th>Working Hours</th>
                    <th>Sick Leave Hours</th>
                    <th>Timeoff Hours</th>
                    <th>Overtime Hours</th>
                    <th>Corp Holiday Hours</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="sheet in vm.currentProject.users">
                    <td>{{sheet.userName}}</td>
                    <td>{{sheet.timesheet.resourceType}}</td>
                    <td ng-init="bgColor=(sheet.timesheet.resourceType=='billable')?'':'background-color:#ffa500b8;';" style="{{bgColor}}">{{sheet.timesheet.billableHours}}</td>
                    <td>{{sheet.timesheet.sickLeaveHours}}</td>
                    <td>{{sheet.timesheet.timeoffHours}}</td>
                    <td>{{sheet.timesheet.overtimeHours}}</td>
                    <td>{{sheet.timesheet.corpHolidayHours}}</td>
                    <td>
                        <div ng-if="!(sheet.timesheet | isEmpty)">
                            <div ng-if="sheet.timesheet.sheetStatus != 'Approved'">
                                <select class="form-control" ng-model="sheet.timesheet.sheetStatus" ng-change="vm.setTimesheetStatus(sheet)" ng-required="true" ng-options="status.id as status.name for status in vm.statusList"></select>
                            </div>
                            <div ng-if="sheet.timesheet.sheetStatus != 'Pending'">
                                <span class="badge badge-success" ng-class="{'badge-danger': sheet.timesheet.sheetStatus==='Rejected'}">{{sheet.timesheet.sheetStatus}}</span>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-xs" ng-click="vm.remind(sheet)" ng-if="(sheet.timesheet | isEmpty)">Remind</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>