<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-messaging.js"></script>
    <script type="text/javascript">
        var firebaseConfig = {
            apiKey: "AIzaSyCsIfP1-W5_zQSBa5fDziZ4oheVt0qi8Q0",
            authDomain: "mobileappointapp.firebaseapp.com",
            databaseURL: "https://mobileappointapp.firebaseio.com",
            projectId: "mobileappointapp",
            storageBucket: "mobileappointapp.appspot.com",
            messagingSenderId: "846797286924",
            appId: "1:846797286924:web:5c235f0d8d00b9a4610829",
            measurementId: "G-0DZDJ3FQPE"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const messaging = firebase.messaging();
        messaging.requestPermission()
            .then(function () {
                console.log('Notification permission granted.');
                // TODO(developer): Retrieve an Instance ID token for use with FCM.
                if (isTokenSentToServer()) {
                    console.log('Token already saved.');
                } else {
                    getRegToken();
                }
            })
            .catch(function (err) {
                console.log('Unable to get permission to notify.', err);
            });
        function getRegToken(argument) {
            messaging.getToken()
                .then(function (currentToken) {
                    if (currentToken) {
                        //saveToken(currentToken);
                        var token = currentToken;
                        var device_id = 'TEST';
                        console.log(token, device_id);
                        saveToken(token, device_id);
                    } else {
                        console.log('No Instance ID token available. Request permission to generate one.');
                        //setTokenSentToServer(false);
                    }
                })
                .catch(function (err) {
                    console.log('An error occurred while retrieving token. ', err);
                    // setTokenSentToServer(false);
                });
        }
        function setTokenSentToServer(token, device_id) {
            window.localStorage.setItem('sentToServer', sent ? 1 : 0);
        }
        function saveToken(currentToken, deviceid) {
            document.getElementById("token").innerHTML(currentToken);
            // $.ajax({
            //     url: 'server url',
            //     method: 'post',
            //     data: { 'device_id': deviceid, 'token': currentToken }
            // }).done(function (result) {
            //     console.log(result);
            // })
        }
        messaging.onMessage(function (payload) {
            console.log("Message received. ", payload);
            var notificationTitle = payload.data.title;
            const notificationOptions = {
                body: payload.data.body,
                icon: payload.data.icon,
                image: payload.data.image,
                click_action: "https://www.examples.com/" + payload.data.url, // To handle notification click when notification is moved to notification tray
                data: {
                    click_action: "https://www.examples.com/" + payload.data.url
                }
            };
            var notification = new Notification(notificationTitle, notificationOptions);
        });

        messaging.setBackgroundMessageHandler(function (payload) {
            console.log('[firebase-messaging-sw.js] Received background message ', payload);
            // Customize notification here
            const notificationTitle = payload.data.title;
            const notificationOptions = {
                body: payload.data.body,
                icon: payload.data.icon,
                image: payload.data.image,
                click_action: "https://www.examples.com/" + payload.data.url, // To handle notification click when notification is moved to notification tray
                data: {
                    click_action: "https://www.examples.com/" + payload.data.url
                }
            };
            self.addEventListener('notificationclick', function (event) {
                console.log(event.notification.data.click_action);
                if (!event.action) {
                    // Was a normal notification click
                    console.log('Notification Click.');
                    self.clients.openWindow(event.notification.data.click_action, '_blank')
                    event.notification.close();
                    return;
                } else {
                    event.notification.close();
                }
            });
            return self.registration.showNotification(notificationTitle,
                notificationOptions);
        });
    </script>
</head>

<body>
    <h1>Welcome</h1>
    <div id="token"></div>
    <div id="msg"></div>
    <div id="notis"></div>
    <div id="err"></div>
    <script>
        MsgElem = document.getElementById("msg")
        TokenElem = document.getElementById("token")
        NotisElem = document.getElementById("notis")
        ErrElem = document.getElementById("err")
    </script>
</body>

</html>