<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <div class="" ng-if="vm.user.admin">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">All Employees</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="sorting" ng-class="{'sorting_asc':vm.search.orderBy=='name'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='name'&&vm.search.sortDESC===true}">
                            <a ng-click="vm.sorting('name');">Name</a>
                        </th>
                        <th>Type</th>
                        <th>Mobile</th>
                        <th class="sorting" ng-class="{'sorting_asc':vm.search.orderBy=='employeeId'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='employeeId'&&vm.search.sortDESC===true}">
                            <a ng-click="vm.sorting('employeeId');">EMP ID</a>
                        </th>
                        <th class="sorting" ng-class="{'sorting_asc':vm.search.orderBy=='reportingUserName'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='reportingUserName'&&vm.search.sortDESC===true}">
                            <a ng-click="vm.sorting('reportingUserName');">Reporting To</a>
                        </th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="form-control" type="text" ng-model="vm.search.userName" /></td>
                        <td><select class="form-control" ng-model="vm.search.userResourceType" ng-options="opt.id as opt.label for opt in [{id:'',label:'All'}, {id:'Billable',label:'Billable'}, {id:'Non-billable',label:'Non-billable'}, {id:'Trainee',label:'Trainee'}]"></select></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <select class="form-control" ng-model="vm.search.isActive" ng-options="opt.id as opt.label for opt in [{id:'', label:'All'}, {id:'true', label:'Active'}, {id:'false', label:'Inactive'}]"></select>
                        </td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in vm.users | allUserSearch:vm.search | orderBy:vm.search.orderBy:vm.search.sortDESC">
                        <td>{{$index + 1}}</td>
                        <td>
                            <div class="user-image">
                                <img ng-src="{{user.profileImgUrl}}" onerror="this.src='/app/app-content/assets/user.jpg'" alt="{{user.name}}" />
                                {{user.name}}
                            </div>
                        </td>
                        <td>{{user.userResourceType}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.employeeId}}</td>
                        <td>{{user.reportingUserName}}</td>
                        <td>
                            <span ng-if="user.isActive==true">Active</span>
                            <span ng-if="user.isActive==false">Inactive</span>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewUser(user)" ng-show="vm.user.admin">Edit</a>
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewReleaseToPool(user)" ng-if="vm.user.admin && user.isActive==true" ng-show="user.resourceInPool!==true">Release To Pool</a>
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewReleaseFromPool(user)" ng-if="vm.user.admin && user.isActive==true" ng-show="user.resourceInPool===true">Release From Pool</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>