<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit User</h3>
</div>
<div class="modal-body" id="modal-body">
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <form class="form-horizontal" name="userForm">
        <div class="form-group required">
            <label class="col-md-3 col-xs-12 control-label">Name</label>
            <div class="col-md-6 col-xs-12">
                <input type="text" required="true" ng-model="vm.userObj.name" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 col-xs-12 control-label">Email</label>
            <div class="col-md-6 col-xs-12">
                <input type="email" required="true" ng-model="vm.userObj.username" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Employee ID</label>
            <div class="col-md-6 col-xs-12">
                <input type="text" ng-model="vm.userObj.employeeId" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Mobile</label>
            <div class="col-md-6 col-xs-12">
                <input type="text" ng-model="vm.userObj.phone" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Designation</label>
            <div class="col-md-6 col-xs-12">
                <input type="text" ng-model="vm.userObj.designation" class="form-control" />
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-3 col-xs-12 control-label">Resource Type</label>
            <div class="col-md-6 col-xs-12">
                <select class="form-control" ng-model="vm.userObj.userResourceType" ng-required="true" ng-options="option as option for option in ['Billable', 'Non-billable']" ng-required="true"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Profile image URL</label>
            <div class="col-md-6 col-xs-12">
                <input type="text" ng-model="vm.userObj.profileImgUrl" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Active</label>
            <div class="col-md-6 col-xs-12">
                <label class="switch">
                    <input type="checkbox" class="switch" ng-model="vm.userObj.isActive" />
                    <span></span>
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!vm.enableSaveBtn" ng-click="vm.saveUser(userForm);">Save</button>
    <button class="btn btn-warning" type="button" ng-click="vm.closeUser()">Cancel</button>
</div>