<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li class="active">Dashboard</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-content-wrap">
    <!-- START WIDGETS -->
    <div class="row">
        <div class="col-md-4">
            <!-- START WIDGET MESSAGES -->
            <div class="widget widget-default widget-item-icon" ui-sref="users">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{vm.users.length}}</div>
                    <div class="widget-title">Employees</div>
                    <div class="widget-subtitle">In Wavelabs</div>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->
        </div>
        <div class="col-md-4">
            <!-- START WIDGET SLIDER -->
            <div class="widget widget-default widget-carousel">
                <div class="widget-title">Leaves</div>
                <table class="table" style="margin-bottom:-3px;">
                    <thead>
                        <tr>
                            <th>Accrued</th>
                            <th>Taken</th>
                            <th>LOP</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{vm.leaveWalletBalance.accruedLeaves+vm.leaveWalletBalance.creditedLeaves}}</td>
                            <td>{{vm.leaveWalletBalance.timeoffDays}}</td>
                            <td>{{vm.leaveWalletBalance.deductedLOP}}</td>
                            <td>{{vm.leaveWalletBalance.leaveBalance}}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="padding-bottom: 3px;float: right;">
                    <a ui-sref="myLeaves">More details</a>
                </div>
            </div>
            <!-- END WIDGET SLIDER -->
        </div>
        <div class="col-md-4">
            <!-- START WIDGET CLOCK -->
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-big-int plugin-clock">{{vm.date | date:'shortTime'}}</div>
                <div class="widget-subtitle plugin-date">{{vm.date | date: 'EEEE, MMMM d, yyyy'}}</div>
            </div>
            <!-- END WIDGET CLOCK -->
        </div>
    </div>
    <!-- END WIDGETS -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Careers</h3>
                    </div>
                </div>
                <div class="panel-body padding-0">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="120px;">Job Code</th>
                                <th>Job Title</th>
                                <th>Experience</th>
                                <th width="120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="job in vm.jobs">
                                <td><strong>{{job.jobCode}}</strong></td>
                                <td><strong>{{job.jobTitle}}</strong></td>
                                <td><strong>{{job.experience}}</strong></td>
                                <td>
                                    <a class="btn btn-primary btn-rounded"
                                        href="mailto:hr@wavelabs.ai?subject=Reference for {{job.jobTitle}}">Referral</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Employee Referral Scheme</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        This policy is envisioned to cheer employees to refer their friends and connections to a
                        suitable position in Wavelabs
                        Technologies and strengthen the bonding between the employees and the company in order to make
                        the environment lively
                        and the work as pleasing as possible. 
                        An employee can refer any number of resumes against a specific vacancy, for which HR will
                        announce the requirements from
                        time to time.  Once a resume is received, it will go through the standard recruitment processes
                        and in the event of a
                        referred candidate being offered and joined, the employee who referred the said candidate will
                        be eligible to claim a
                        Referral Bonus, as indicated below, after 3 months from the joining date:
                    </p>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Designation</td>
                                <td>Indicative Experience Range</td>
                                <td>Referral Bonus</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Engineer</strong></td>
                                <td>1.5 to 3 years</td>
                                <td><strong>Rs. 15,000/-</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Senior Engineer</strong></td>
                                <td>3 to 5 years</td>
                                <td><strong>Rs. 25,000/-</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Lead Engineer</strong></td>
                                <td>5 to 7 years</td>
                                <td><strong>Rs. 35,000/-</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Architect/Manager & above</strong></td>
                                <td>7 years & above</td>
                                <td><strong>Rs. 50,000/-</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Video Specialist 2</strong></td>
                                <td>2 to 10 years</td>
                                <td><strong>Rs. 15,000/-</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Video Specialist 1</strong></td>
                                <td>3 to 10 years</td>
                                <td><strong>Rs. 25,000/-</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <p>
                        <li>All payments will be made subject to the prevailing Income Tax regulations/deductions.</li>
                        <li>No bonus will be paid for referring candidates with less than 1.5 year of experience.</li>
                        <li>HR Team Members, Senior Architect/Senior Managers & above are not eligible to receive any
                            reward under this  policy.</li>
                        <li>All the resumes to be sent to hr@wavelabs.ai by the employee from his/her own official email
                            address.</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Inventory</h3>
                    </div>
                </div>
                <div class="panel-body padding-0">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="120px;">Device ID</th>
                                <th width="90px;">Type</th>
                                <th>Device Info</th>
                                <th>Serial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inventory in vm.inventories">
                                <td><strong>{{inventory.deviceId}}</strong></td>
                                <td><strong>{{inventory.deviceType}}</strong></td>
                                <td>
                                    <strong>{{inventory.deviceModel}}</strong>,
                                    <strong>{{inventory.deviceBrand}}</strong>
                                </td>
                                <td><strong>{{inventory.deviceSerial}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div ng-if="vm.user.admin">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Organization Head count and Working Hours</h3>
                            <span>Capacity</span>
                        </div>
                        <div class="panel-controls pull-right" style="width: 140px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup
                                    ng-model="vm.manpowerChart.weekDate" is-open="vm.manpowerChart.opened"
                                    datepicker-options="vm.dateOptions" ng-required="true" close-text="Close"
                                    ng-change="vm.getAllUserHoursByWeek();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                        ng-click="vm.manpowerChart.opened=true;"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-pie" chart-colors="vm.manpowerChart.colors"
                            chart-options="vm.manpowerChart.options" chart-data="vm.manpowerChart.data"
                            chart-labels="vm.manpowerChart.labels">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Project Head count and Working Hours</h3>
                            <span>Capacity</span>
                        </div>
                        <div class="panel-controls pull-right" style="width: 140px; margin-left: 10px">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup
                                    ng-model="vm.projectManpower.weekDate" is-open="vm.projectManpower.opened"
                                    datepicker-options="vm.dateOptions" ng-required="true" close-text="Close"
                                    ng-change="vm.getProjectUserHoursByWeek();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                        ng-click="vm.projectManpower.opened=true;"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="panel-controls pull-right" style="width: 200px;">
                            <select class="form-control" ng-model="vm.projectManpower.projectId"
                                ng-options="project.projectId as project.projectName for project in vm.projects"
                                ng-change="vm.getProjectUserHoursByWeek();"></select>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-pie" chart-colors="vm.projectManpower.colors"
                            chart-options="vm.projectManpower.options" chart-data="vm.projectManpower.data"
                            chart-labels="vm.projectManpower.labels">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Monthly Head Count</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                        <div class="panel-controls pull-right" style="width: 140px; margin-left: 10px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup
                                    ng-model="vm.monthHoursChart.weekDate" is-open="vm.monthHoursChart.opened"
                                    datepicker-options="vm.monthOptions" ng-required="true" close-text="Close"
                                    ng-change="vm.getAllUserHoursByMonth();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                        ng-click="vm.monthHoursChart.opened=true;"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.monthHeadCountChart.colors"
                            chart-options="vm.monthHeadCountChart.options" chart-data="vm.monthHeadCountChart.data"
                            chart-labels="vm.monthHeadCountChart.labels" chart-series="vm.monthHeadCountChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Monthly Hours</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                        <div class="panel-controls pull-right" style="width: 140px; margin-left: 10px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup
                                    ng-model="vm.monthHoursChart.weekDate" is-open="vm.monthHoursChart.opened"
                                    datepicker-options="vm.monthOptions" ng-required="true" close-text="Close"
                                    ng-change="vm.getAllUserHoursByMonth();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                        ng-click="vm.monthHoursChart.opened=true;"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.monthHoursChart.colors"
                            chart-options="vm.monthHoursChart.options" chart-data="vm.monthHoursChart.data"
                            chart-labels="vm.monthHoursChart.labels" chart-series="vm.monthHoursChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Project Monthly Hours</h3>
                            <span>Capacity</span>
                        </div>
                        <div class="panel-controls pull-right" style="width: 140px; margin-left: 10px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.projectMonthlyHours.weekDate" is-open="vm.projectMonthlyHours.opened" datepicker-options="vm.monthOptions" ng-required="true" close-text="Close" ng-change="vm.getProjectUserHoursByMonth();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.projectMonthlyHours.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="panel-controls pull-right" style="width: 200px;">
                            <select class="form-control" ng-model="vm.projectMonthlyHours.projectId" ng-options="project.projectId as project.projectName for project in vm.projects" ng-change="vm.getProjectUserHoursByMonth();" ></select>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.projectMonthlyHours.colors" chart-options="vm.projectMonthlyHours.options" chart-data="vm.projectMonthlyHours.data" chart-labels="vm.projectMonthlyHours.labels" chart-series="vm.projectMonthlyHours.series">
                        </canvas>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Utilization Monthly Head Count</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                        <!--<div class="panel-controls pull-right" style="width: 140px; margin-left: 10px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.monthHoursChart.weekDate" is-open="vm.monthHoursChart.opened" datepicker-options="vm.monthOptions" ng-required="true" close-text="Close" ng-change="vm.getAllUserHoursByMonth();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.monthHoursChart.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>-->
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.utzHeadCountChart.colors"
                            chart-options="vm.utzHeadCountChart.options" chart-data="vm.utzHeadCountChart.data"
                            chart-labels="vm.utzHeadCountChart.labels" chart-series="vm.utzHeadCountChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Utilization Monthly Hours</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                        <!--<div class="panel-controls pull-right" style="width: 140px; margin-left: 10px;">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.monthHoursChart.weekDate" is-open="vm.monthHoursChart.opened" datepicker-options="vm.monthOptions" ng-required="true" close-text="Close" ng-change="vm.getAllUserHoursByMonth();" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.monthHoursChart.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>-->
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.utzHoursChart.colors"
                            chart-options="vm.utzHoursChart.options" chart-data="vm.utzHoursChart.data"
                            chart-labels="vm.utzHoursChart.labels" chart-series="vm.utzHoursChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Utilization Enterprise Monthly Head Count</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.utilizationHeadCountChart.colors"
                            chart-options="vm.utilizationHeadCountChart.options"
                            chart-data="vm.utilizationHeadCountChart.data"
                            chart-labels="vm.utilizationHeadCountChart.labels"
                            chart-series="vm.utilizationHeadCountChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Utilization Enterprise Monthly Hours</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.utilizationHoursChart.colors"
                            chart-options="vm.utilizationHoursChart.options" chart-data="vm.utilizationHoursChart.data"
                            chart-labels="vm.utilizationHoursChart.labels"
                            chart-series="vm.utilizationHoursChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-left">
                            <h3>Utilization Organization Monthly Head Count</h3>
                            <span>{{vm.monthHoursChart.monthName}}</span>
                        </div>
                    </div>
                    <div class="panel-body padding-0">
                        <canvas class="chart chart-bar" chart-colors="vm.utzOrganizationHeadCountChart.colors"
                            chart-options="vm.utzOrganizationHeadCountChart.options"
                            chart-data="vm.utzOrganizationHeadCountChart.data"
                            chart-labels="vm.utilizationHeadCountChart.labels"
                            chart-series="vm.utzOrganizationHeadCountChart.series">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>