<h1>Hi {{vm.user.name}}!!</h1>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="fa fa-floppy-o"></i> Post Question
                </h2>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group has-feedback">
                    <input type="week" name="question" id="question" ng-model="vm.obj.question" class="form-control" placeholder="Question" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="col-xs-12"></div>
                <div class="col-xs-12 row">
                    <div class="col-sm-9">
                        
                    </div>
                    <div class="col-sm-3">
                        <button class="pull-right btn btn-primary" ng-click="vm.post()">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>