<h1>Hi {{vm.user.name}}!!</h1>
  <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">{{alert.msg}}</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="container" ng-show="vm.user.admin">
        <br>
        <div class="clearfix">
            <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
            <button class="btn btn-primary" ng-click="vm.remindAll()">Remind All</button>
            <div class="form-group pull-right">
                <label class="col-md-3" for="week">Filter By Week</label>
                <div class="col-md-9">
                    <input type="week" class="form-control" ng-model="vm.currentWeek" ng-change="vm.getAllReports(vm.currentWeek)">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" export-table>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Hours</th>
                    <th>Comments</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="report in vm.allReports">
                    <td>{{report.name}}</td>
                    <td>{{report.project}}</td>
                    <td>{{report.hours}}</td>
                    <td>{{report.comments}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="vm.remind(report.userId)" ng-show="report.remind">Remind</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container" ng-show="!vm.user.admin">
        <br>
        <div class="clearfix">
            <a class="btn btn-primary pull-right" style="margin-right: 25px;" ui-sref="timesheet">Add Hours</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Project</th>
                    <th>Hours</th>
                    <th>Comments</th>
                </tr>
                <tr ng-repeat="report in vm.myReports">
                    <td>{{report.project}}</td>
                    <td>{{report.hours}}</td>
                    <td>{{report.comments}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>