<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resource Pool Users</h3> &nbsp;
                <a class="btn btn-primary btn-xs" ng-show="vm.showAllUsers==true" ng-click="vm.showAllUsers=false;vm.getAllUsers();">Show Pool</a>
                <a class="btn btn-primary btn-xs" ng-show="vm.showAllUsers==false" ng-click="vm.showAllUsers=true;vm.getAllUsers();">Show All</a>
            </div>
            <div class="panel-body ">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>EMP ID</th>
                        <th>Pool Name</th>
                        <th>Pool Since Date</th>
                        <th>Pool Since</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in vm.users | allUserSearch:vm.search | orderBy:'name'">
                        <td>{{$index + 1}}</td>
                        <td>
                            <div class="user-image">
                                <img ng-src="{{user.profileImgUrl}}" onerror="this.src='app-content/assets/user.jpg'" alt="{{user.name}}" />
                                {{user.name}}
                            </div>
                        </td>
                        <td>{{user.userResourceType}}</td>
                        <td>{{user.employeeId}}</td>
                        <td>{{user.poolName}}</td>
                        <td>{{user.poolSinceDate | date : format : timezone}}</td>
                        <td>{{user.poolSince}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewUserPoolLog(user)">Logs</a>
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewReleaseToPool(user)" ng-show="user.resourceInPool!==true">Release To Pool</a>
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewReleaseFromPool(user)" ng-show="user.resourceInPool===true">Release From Pool</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
