<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Add Hours</li>
        </ol>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" name="vm.addForm">
                        <fieldset>
                            <legend class="text-center">Add Hours</legend>
                            <!-- Name input-->
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="name">Project</label>
                                <div class="col-md-9">
                                    <input id="name" name="name" type="text" placeholder="Project" class="form-control" ng-model="vm.obj.project" ng-required="true">
                                </div>
                            </div>
                            <!-- Week input-->
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="week">Week</label>
                                <div class="col-md-9">
                                    <input id="week" name="week" type="week" placeholder="Your week" class="form-control" ng-model="vm.obj.week" ng-required="true">
                                </div>
                            </div>
                            <!-- Email input-->
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="hours">Hours</label>
                                <div class="col-md-9">
                                    <input id="hours" name="hours" type="number" min="0" max="70" placeholder="Your hours" class="form-control" ng-model="vm.obj.hours" ng-required="true">
                                </div>
                            </div>
                            <!-- Message body -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="message">Comments</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="message" name="message" placeholder="Please enter your comments here if any..." rows="5" ng-model="vm.obj.comments"></textarea>
                                </div>
                            </div>
                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.post(vm.addForm)">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>