<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="users">Users</a></li>
    <li class="active">{{vm.employee.name}}</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="userForm">
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Personal Data</a></li>
                        <!-- <li><a href="#tab-second" role="tab" data-toggle="tab">Project Settings</a></li> -->
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            <p></p>
                            <div class="form-group required">
                                <label class="col-md-3 col-xs-12 control-label">Name</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="text" required="true" ng-model="vm.employee.name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 col-xs-12 control-label">Email</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="email" required="true" ng-model="vm.employee.username" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Mobile</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="text" ng-model="vm.employee.phone" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 col-xs-12 control-label">Designation</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="text" required="true" ng-model="vm.employee.designation" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Resource Type</label>
                                <div class="col-md-6 col-xs-12">
                                    <select class="form-control" ng-model="vm.employee.resourceType" ng-required="true" ng-options="option as option for option in ['Billable', 'Non-billable']"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Timesheet</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="switch">
                                        <input type="checkbox" class="switch" ng-model="vm.employee.notifications" />
                                        <span></span>
                                    </label>
                                    <span class="help-block">I want to opt out of timesheet notifications</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="tab-pane" id="tab-second">
                            <p></p>
                            <div class="clearfix">
                                <button class="btn btn-primary pull-right" ng-click="vm.addProject()">Add Project</button>
                            </div>
                            <br>
                            <div class="panel panel-default" ng-repeat="project in vm.employee.project">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Project {{$index + 1}}</h3>
                                    <ul class="panel-controls">
                                        <li><a ng-click="vm.deleteProject($index)" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Client Name</label>
                                        <div class="col-md-4">
                                            <select class="form-control select" ng-model="project.clientName" ng-options="item as item.clientName for item in vm.projects" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Project Name</label>
                                        <div class="col-md-4">
                                            <select class="form-control select" ng-model="project.projectName" ng-options="item as item for item in project.clientName.projectName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label" for="week">Start Date</label>
                                        <div class="col-md-4 col-xs-12">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="project.startDate" is-open="project.opened" datepicker-options="vm.dateOptions" close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="vm.open2(project)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Is Billable {{project.isBillable}}</label>
                                        <div class="col-md-6 col-xs-12">
                                            <label class="switch">
                                                <input type="checkbox" class="switch" ng-model="project.isBillable" ng-change="vm.updateBilling(project)" />
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix" ng-show="project.isBillable">
                                        <h6 class="pull-left">Billing Dates</h6>
                                        <button class="btn btn-xs btn-primary pull-right" ng-click="vm.addDate(project)">Add</button>
                                    </div>
                                    <hr>
                                    <div ng-repeat="dates in project.date" class="row" ng-show="project.isBillable">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-12 control-label" for="week">Start Date</label>
                                                <div class="col-md-8 col-xs-12">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dates.start" is-open="dates.startOpened" datepicker-options="vm.dateOptions" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="vm.open2(dates, 'startOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-12 control-label" for="week">End Date</label>
                                                <div class="col-md-8 col-xs-12">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dates.end" is-open="dates.endOpened" datepicker-options="vm.dateOptions" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="vm.open2(dates, 'endOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <a ng-click="vm.deleteDate(project, $index)"><span class="fa fa-times"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="panel-footer">
                        <button class="btn btn-primary pull-right" ng-click="vm.updateUser(userForm)">Save Changes <span class="fa fa-floppy-o fa-right"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT WRAPPER