<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <span ng-if="vm.user.isLOPLeave">Deduct LOP</span>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" style="align-items: center;">
        <form class="form-horizontal" name="vm.userLeaveForm">
            <div class="form-group">
                <label class="col-md-4 control-label">Employee Name</label>
                <div class="col-md-7">
                    <label class="form-control">{{vm.user.name}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-12 control-label">Select Year-Month</label>
                <div class="col-md-7">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}"
                            ng-model="vm.user.yearMonth" is-open="vm.yearMonthSelected"
                            datepicker-options="vm.monthOptions" ng-required="true" close-text="Close"
                            ng-change="vm.yearMonthSelectDeduct()" name="yearMonth" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                ng-click="vm.yearMonthSelected = !vm.yearMonthSelected">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <span 
                        ng-show="vm.userLeaveForm.yearMonth.$dirty && vm.userLeaveForm.yearMonth.$error.required"
                        style="color: red;">
                        Please fill the required field
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Deducted LOP</label>
                <div class="col-md-7">
                    <input type="number" class="form-control" min="0" max="31" ng-model="vm.user.deductedLOP"
                        ng-required="true" name="deductLop" required />
                        <span 
                            ng-show="vm.userLeaveForm.deductLop.$dirty && vm.userLeaveForm.deductLop.$error.required"
                            style="color: red;">
                            Please fill the required field
                    </span>
                </div>
            </div>           
            <div class="form-group">
                <label class="col-md-4 control-label">Deducted LOP Comments</label>
                <div class="col-md-7">
                    <textarea type="text" class="form-control" ng-model="vm.user.deductedLOPComment" required name="lopComment"/>
                    <span 
                        ng-show="vm.userLeaveForm.lopComment.$dirty && vm.userLeaveForm.lopComment.$error.required"
                        style="color: red;">
                        Please fill the required field
                </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="vm.userLeaveForm.$invalid" ng-click="vm.ok(vm.userLeaveForm)">Save</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>