<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ul class="breadcrumb">
        <li><a ui-sref="projects"><i class="fa fa-dashboard"></i> Projects</a></li>
        <li class="active">Add Project</li>
    </ul>
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" name="vm.addForm">
                        <fieldset>
                            <legend class="text-center" ng-show="vm.isNew">Add Project</legend>
                            <legend class="text-center" ng-hide="vm.isNew">Edit Project</legend>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="clientName">Customer Name</label>
                                <div class="col-md-9">
                                    <p class="input-group">
                                        <select id="clientName" class="form-control" ng-model="vm.obj.clientId" ng-options="client._id as client.clientName for client in vm.clients" ng-required="true"></select>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.viewClientModel();">Add New</button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="projectName">Project Name</label>
                                <div class="col-md-9">
                                    <input id="projectName" name="projectName" type="text" min="0" max="70" placeholder="Project Name" class="form-control" ng-model="vm.obj.projectName" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="startDate">Start Date</label>
                                <div class="col-md-9">
                                    <p class="input-group">
                                        <input type="text" id="startDate" class="form-control" uib-datepicker-popup ng-model="vm.obj.startDate" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="projectBillType">Project Bill Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="projectBillType" ng-model="vm.obj.projectBillType" ng-options="prj.projectBillId as prj.projectBillName for prj in vm.projectBillTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="projectType">Project Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="projectType" ng-model="vm.obj.projectType" ng-options="prj.projectTypeId as prj.projectTypeName for prj in vm.projectTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="businessUnit">Business Unit</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="businessUnit" ng-model="vm.obj.businessUnit" ng-options="option as option for option in vm.projectBusinessUnits"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="projectName">Estimated Hours</label>
                                <div class="col-md-9">
                                    <input id="estimatedHours" name="estimatedHours" type="text" placeholder="Estimated Hours" class="form-control" ng-model="vm.obj.estimatedHours"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="projectName">Estimated Cost</label>
                                <div class="col-md-9">
                                    <input id="estimatedCost" name="estimatedCost" type="text" placeholder="Estimated Cost" class="form-control" ng-model="vm.obj.estimatedCost"/>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="visibility">Visibility</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="visibility" ng-model="vm.obj.visibility" ng-required="true" ng-options="option as option for option in ['Private', 'Public']"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="description">Description</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="description" name="description" placeholder="Description" rows="5" ng-model="vm.obj.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Active</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="switch">
                                        <input type="checkbox" class="switch" ng-model="vm.obj.isActive" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.saveProject(vm.addForm)">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>