<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ul class="breadcrumb">
        <li><a ui-sref="projects"><i class="fa fa-dashboard"></i> Projects</a></li>
        <li class="active">Add Project</li>
    </ul>
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" name="vm.addForm">
                        <fieldset>
                            <legend class="text-center" ng-show="vm.isNew">Add Project</legend>
                            <legend class="text-center" ng-hide="vm.isNew">Edit Project</legend>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="clientName">Customer Name</label>
                                <div class="col-md-9">
                                    <input id="clientName" name="clientName" type="text" min="0" max="70" placeholder="Customer Name" class="form-control" ng-model="vm.obj.clientName" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="projectName">Project Name</label>
                                <div class="col-md-9">
                                    <input id="projectName" name="projectName" type="text" min="0" max="70" placeholder="Project Name" class="form-control" ng-model="vm.obj.projectName" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-3 control-label" for="startDate">Start Date</label>
                                <div class="col-md-9">
                                    <p class="input-group">
                                        <input type="text" id="startDate" class="form-control" uib-datepicker-popup ng-model="vm.obj.startDate" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- Message body -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="description">Description</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="description" name="description" placeholder="Description" rows="5" ng-model="vm.obj.description"></textarea>
                                </div>
                            </div>
                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.saveProject(vm.addForm)">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>