<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="">
        <!-- START DEFAULT TABLE EXPORT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Projects</h3>
                <div class="clearfix row">
                    <div class="col-sm-6">
                        <a class="btn btn-primary" ui-sref="addProject">Add Project</a>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <tr>
                        <th>S.No</th>
                        <th>Customer Name</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="project in vm.projects | orderBy:'name'">
                        <td>{{$index+1}}</td>
                        <td>{{project.clientName}}</td>
                        <td>{{project.projectName}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.startDate}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" ui-sref="assignUsers({id: project._id})">Assign Users</a>
                            <a class="btn btn-primary btn-xs" ui-sref="editProject({id: project._id})">Update</a>
                            <buttion class="btn btn-primary btn-xs" ng-click="vm.delProject(project._id)">Delete</buttion>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>