<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Projects</h3>
                <div class="clearfix row">
                    <div class="col-sm-6">
                        <a class="btn btn-primary" ui-sref="addProject" ng-if="vm.user.admin">Add Project</a>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <tr>
                        <th>S.No</th>
                        <th>Customer Name</th>
                        <th>Project Name</th>
                        <th>Project Bill Type</th>
                        <th>Project Type</th>
                        <th>Business Unit</th>
                        <th>Start Date</th>
                        <th ng-if="vm.user.admin">Action</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><select class="form-control" ng-model="vm.search.clientId" ng-options="client._id as client.clientName for client in vm.clients"></select></th>
                        <th><input type="text" ng-model="vm.search.projectName" class="form-control" /></th>
                        <th><select class="form-control" ng-model="vm.search.projectBillType" ng-options="prj.projectBillId as prj.projectBillName for prj in vm.projectBillTypes"></select></th>
                        <th><select class="form-control" ng-model="vm.search.projectType" ng-options="prj.projectTypeId as prj.projectTypeName for prj in vm.projectTypes"></select></th>
                        <th><select class="form-control" ng-model="vm.search.businessUnit" ng-options="option as option for option in vm.projectBusinessUnits" ng-change="vm.search.projectId=''; vm.search.clientId=''; vm.getConsolidatedProjects();"></select></th>
                        <th></th>
                        <th ng-if="vm.user.admin"></th>
                    </tr>
                    <tr ng-repeat="project in vm.projects | searchProject:vm.search | orderBy:'name'">
                        <td>{{$index+1}}</td>
                        <td>{{project.clientName}}</td>
                        <td>{{project.projectName}}</td>
                        <td>{{project.projectBillType}}</td>
                        <td>{{project.projectType}}</td>
                        <td>{{project.businessUnit}}</td>
                        <td>{{project.startDate | date: 'mediumDate'}}</td>
                        <td ng-if="vm.user.admin">
                            <a class="btn btn-primary btn-xs" ng-click="vm.viewProject(project);">View</i></a>
                            <a class="btn btn-primary btn-xs" ui-sref="editProject({id: project._id})">Edit</a>
                            <!--<a class="btn btn-primary btn-xs" ui-sref="assignUsers({id: project._id})">Assign Users</a>-->
                            <!--<buttion class="btn btn-primary btn-xs" ng-click="vm.delProject(project._id)">Delete</buttion>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>