<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="">
        <!-- START DEFAULT TABLE EXPORT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Projects</h3>
            </div>
            <div class="panel-body panel-body-table">
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <tr>
                        <th width="80px">S.No</th>
                        <th width="240px">User Name</th>
                        <th>
                            <table class="table">
                                <tr>
                                    <th width="60px">P.No</th>
                                    <td width="320px">Name</td>
                                    <td width="480px">
                                        <div class="row">
                                            <div class="col-md-3">Start Date</div>
                                            <div class="col-md-3">End Date</div>
                                            <div class="col-md-2">Allocated Hours</div>
                                            <div class="col-md-2">Billable Limit</div>
                                            <div class="col-md-2">Resource Type</div>
                                        </div>
                                    </td>
                                    <td>Action</td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                    <tr ng-repeat="user in vm.users | orderBy:'userName'">
                        <td>{{$index+1}}</td>
                        <td>{{user.userName}}</td>
                        <td>
                            <table class="table">
                                <tr ng-repeat="project in user.projects | orderBy:'projectName'">
                                    <td width="60px">{{$index+1}}</td>
                                    <td width="320px">{{project.projectName}}</td>
                                    <td width="480px">
                                        <div class="row" ng-repeat="billDate in project.billDates">
                                            <div class="col-md-3">{{billDate.start | date : 'mediumDate'}}</div>
                                            <div class="col-md-3">{{billDate.end | date : 'mediumDate'}}</div>
                                            <div class="col-md-2">{{billDate.allocatedHours}}</div>
                                            <div class="col-md-2">{{billDate.billableMaxHours}}</div>
                                            <div class="col-md-2">{{billDate.resourceType}}</div>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-primary btn-xs" ng-click="vm.viewAssignUser(user, project)">Edit</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>