<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Wavelabs</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app-content/theme.css" rel="stylesheet" />
    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='bower_components/angular-ui-select/dist/select.css' type='text/css' />
    <link rel="stylesheet" href="app-content/ng-table.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">
        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar" ng-controller="Home.SidebarController as vm">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a ui-sref="home">Wavelabs</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img ng-src="{{vm.user.profileImgUrl}}" src="app-content/assets/user.jpg" alt="{{vm.user.name}}"/>
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img ng-src="{{vm.user.profileImgUrl}}" src="app-content/assets/user.jpg" alt="{{vm.user.name}}" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">{{vm.user.name}}</div>
                            <div class="profile-data-title" ng-if="vm.user.designation">
                                {{vm.user.designation}}
                            </div>
                            <div class="profile-data-title" ng-if="!vm.user.designation">
                                NA
                            </div>
                        </div>
                        <div class="profile-controls">
                            <a ui-sref="account" class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>
                    </div>
                </li>
                <li class="xn-title">Navigation</li>
                <li class="" ng-class="{active: activeTab === 'home'}">
                    <a ui-sref="home"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                </li>
                <li class="" ng-class="{active: activeTab === 'myTimesheets'}">
                    <a ui-sref="myTimesheets"><span class="fa fa-file-excel-o"></span> <span class="xn-text">My Timesheets</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true || vm.user.userRole=='manager'" ng-class="{active: activeTab === 'timesheet'}">
                        <a ui-sref="timesheet"><span class="fa fa-file-excel-o"></span> <span class="xn-text">Timesheets</span></a>
                    </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'consolidatedTimesheet'}">
                    <a ui-sref="consolidatedTimesheet"><img class="fa" src="app-content/assets/progress-report.png"> <span class="xn-text">Consolidated Timesheet</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'projectUsers'}">
                    <a ui-sref="projectUsers"><img class="fa" src="app-content/assets/user-group.png"> <span class="xn-text">Project Users</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'userProjects'}">
                    <a ui-sref="userProjects"><img class="fa" src="app-content/assets/operator-with-headset.png"> <span class="xn-text">User Projects</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'poolUsers'}">
                    <a ui-sref="poolUsers"><img class="fa" src="app-content/assets/sleepy-man.png"> <span class="xn-text">Resource Pool</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'allUsers'}">
                    <a ui-sref="allUsers"><span class="fa fa-users"></span> <span class="xn-text">All Users</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'projects'}">
                    <a ui-sref="projects"><img class="fa" src="app-content/assets/project.png"> <span class="xn-text">Projects</span></a>
                </li>
                <li class="" ng-if="vm.user.admin===true" ng-class="{active: activeTab === 'clients'}">
                    <a ui-sref="clients"><span class="fa fa-tags"></span> <span class="xn-text">Clients</span></a>
                </li>
                <li class="" ng-class="{active: activeTab === 'account'}">
                    <a ui-sref="account"><span class="fa fa-cogs"></span> <span class="xn-text">Account</span></a>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">
            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="/login" target="_self" class="mb-control">
                        <span class="fa fa-sign-out"></span>
                    </a>
                </li>
                <!-- END SIGN OUT -->
                <!-- END TASKS -->
            </ul>
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap" ui-view>
            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.14/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
    <script src='bower_components/angular-ui-select/dist/select.js'></script>
    <script src="libs/tableExport.js"></script>
    <script src="libs/xlsx.core.min.js"></script>
    <script src="libs/jquery.base64.js"></script>
    <script src="libs/ng-table.min.js"></script>
    <script src="libs/pdfmake.min.js"></script>
    <script src="libs/vfs_fonts.js"></script>
    <script src='libs/js/plugins/noty/jquery.noty.js'></script>
    <script src="libs/angular-noty.js"></script>
    <!-- START PLUGINS -->
    <script type="text/javascript" src="libs/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="libs/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- CHARTS -->
    <script src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='libs/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="libs/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="libs/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
    <script type='text/javascript' src='libs/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="libs/js/plugins/owl/owl.carousel.min.js"></script>
    <script type="text/javascript" src="libs/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="libs/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="libs/js/plugins.js"></script>
    <script type="text/javascript" src="libs/js/actions.js"></script>
    <script type="text/javascript" src="libs/js/demo_dashboard.js"></script>
    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/report.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="app-services/project.service.js"></script>
    <script src="app-services/timesheet.service.js"></script>
    <script src="home/index.controller.js"></script>
    <script src="timesheet/index.controller.js"></script>
    <script src="account/index.controller.js"></script>
    <script src="projects/index.controller.js"></script>
    <!-- END SCRIPTS -->
</body>

</html>