<div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
    close="vm.closeAlert($index)" dismiss-on-timeout="1000">
    {{alert.msg}}</div>
<div class="content-wrapper">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Inventories</h3>
                <a class="btn btn-primary btn-rounded pull-right" ng-click="vm.viewInventoryForm();"
                    ng-show="vm.user.admin">Add</a>
                <!-- <div class="dropdown pull-right">
                    <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                        Columns<b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-form" role="menu" ng-click="vm.stopPropagation($event)">
                        <div class="dropdown-item" ng-repeat="column in vm.userColumns">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="column.selected"/> {{column.label}}
                            </label>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="pull-right">
                    <button class="btn btn-primary" ng-click="vm.exportTable()">Export</button> &nbsp; &nbsp;
                </div> -->
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered table-striped" export-table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="sorting"
                                ng-class="{'sorting_asc':vm.search.orderBy=='deviceId'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='deviceId'&&vm.search.sortDESC===true}">
                                <a ng-click="vm.sorting('deviceId');">Device ID</a>
                            </th>
                            <th class="sorting"
                                ng-class="{'sorting_asc':vm.search.orderBy=='deviceType'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='deviceType'&&vm.search.sortDESC===true}">
                                <a ng-click="vm.sorting('deviceType');">Device Type</a>
                            </th>
                            <th class="sorting"
                                ng-class="{'sorting_asc':vm.search.orderBy=='deviceName'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='deviceName'&&vm.search.sortDESC===true}">
                                <a ng-click="vm.sorting('deviceName');">Device Name</a>
                            </th>
                            <th class="sorting"
                                ng-class="{'sorting_asc':vm.search.orderBy=='userId'&&vm.search.sortDESC===false, 'sorting_desc':vm.search.orderBy=='userId'&&vm.search.sortDESC===true}">
                                <a ng-click="vm.sorting('userId');">Assigned</a>
                            </th>
                            <th>Status</th>
                            <th style="width:160px;">Action</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input class="form-control" type="text" ng-model="vm.search.deviceId" /></td>
                            <td><input class="form-control" type="text" ng-model="vm.search.deviceType" /></td>
                            <td><input class="form-control" type="text" ng-model="vm.search.deviceName" /></td>
                            <td>
                                <!-- <input class="form-control" type="text" ng-model="vm.search.userName" /> -->
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="inventory in vm.inventories | InventorySearch:vm.search | orderBy:vm.search.orderBy:vm.search.sortDESC">
                            <td>{{$index + 1}}</td>
                            <td>{{inventory.deviceId}}</td>
                            <td>{{inventory.deviceType}}</td>
                            <td>{{inventory.deviceName}}</td>
                            <td>
                                {{inventory.assignedUser.name}}
                                <a class="btn btn-link pull-right" ng-click="vm.inventoryAssignUser(inventory)">
                                    <span class="fa fa-user"></span>
                                </a>
                            </td>
                            <td>{{inventory.currentStatus}}</td>
                            <td class="">
                                <a class="btn btn-primary btn-icon btn-rounded" ng-click="vm.viewHistory(inventory)">
                                    <span class="fa fa-history"></span>
                                </a>
                                <a class="btn btn-primary btn-icon btn-rounded"
                                    ng-click="vm.viewInventoryForm(inventory)" ng-show="vm.user.admin">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a class="btn btn-primary btn-icon btn-rounded">
                                    <span class="fa fa-times"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>