<div class="modal-header">
    <h3 class="modal-title" id="modal-title"> Inventory History</h3>
</div>
<div class="modal-body" id="modal-body">
    <div uib-alert class="wl-alerts" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')"
        close="vm.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>
    <table class="table table-condensed table-bordered table-striped" export-table>
        <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>Comment</th>
                <th>Updated On</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.inventoryObj.history">
                <td>{{$index + 1}}</td>
                <td>{{item.inventoryAction}}</td>
                <td>{{item.prevValue}}</td>
                <td>{{item.newValue}}</td>
                <td>{{item.comment}}</td>
                <td>{{item.updatedOn | date : 'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.closeHistory()">Cancel</button>
</div>